#scrollTop{
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    background: red;
    padding: 7px;
    right: 10px;
    bottom: 15%;
    text-align: center;
    background-color: $color-white;
    cursor: pointer;
    z-index: 1000;
    border: 2px solid $color-dark;
    span{
        font-size: 20px;
        color: $color-dark;
    }
    @include min-sm(){
        width: 50px;
        height: 50px;
        right: 40px;
        bottom: 40%;
        background-color: $color-dark;
        span{
            font-size: 30px;
            color: $color-white;
        }
    }
    @include Responsive(XL){
        width: 50px;
        height: 50px;
        right: 40px;
        bottom: 40%;
        background-color: $color-dark;
        span{
            font-size: 30px;
            color: $color-white;
        }
    }
}