.btn{
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    color: $color-white;
    font-size: 16px;
    margin: 15px 0;
    &--blue{
        background-color: $color-blue;
    }
    &:active{
        border-radius: 3px;
    }
}
