.container.checkout
    .row
        .col-sm-12.p-4
            p.checkout__title ice-snow-lips
        .col-sm-12.showProd
            .row.justify-content-between
                .col-7
                    span.fas.fa-shopping-cart
                    span Show order sumary
                    span.fas.fa-chevron-down
                .col-2.text-right
                    span $2.29
        .col-sm-12
            nav(aria-label = "breadcrumb").d-none
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="") Information
                    li.breadcrumb-item
                        a(href="") Shipping
                    li.breadcrumb-item
                        a(href="") Payment
    include ./box-checkout/box-checkout.pug
    