.container
    .row
        .col-sm-12.col-lg-6
            .row
                .col-sm-12.p-4
                    h3.primary__title ice-snow-lips
            .row
                .col-sm-12.d-block.d-lg-none
                    div.border.showProd#showProd
                        .row
                            .col-7
                                span.fas.fa-shopping-cart
                                span Show order sumary
                                span.fas.fa-chevron-down
                            .col-5.text-right
                                span $2.29
                .col-sm-12.d-none.d-lg-block
                    nav(aria-label = "breadcrumb")
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href="") Information
                            li.breadcrumb-item
                                a(href="") Shipping
                            li.breadcrumb-item
                                a(href="") Payment
            .row
                .col-sm-12.col-lg-12
                    #Proc-box
                        include ./box-checkout/box-checkout.pug
            .row.form_checkout.pt-5
                .col-12
                    p.form_checkout__title.text-center Express checkout
                    div.border.text-center.p-3
                        img.w-25(src="https://www.stickpng.com/assets/images/5895ceb8cba9841eabab6072.png", alt="alt")
                    p.text-center|or
                .col-12
                    .row
                        .col-6
                            h3 Contact information
                        .col-6
                            span Already have an account?
                                a(href="") Login
                        .col-12.pt-3.pb-3
                            .form-group
                                input.form-control(type="text", placeholder="Email or mobile phone number")
                        .col-12
                            .form-check
                                input.form-check-input(type="checkbox", name="") 
                                |Keep me up to date on news and exclusive offers
                    .col-12.p-0.pt-5
                        h3 Shipping address
                        form(action="" method="method")
                            .row
                                .col-12.col-sm-6
                                    .form-group
                                        input.form-control(type="text", placeholder="Email or mobile phone number")
                                .col-12.col-sm-6
                                    .form-group
                                        input.form-control(type="text", placeholder="First name (optional)")
                                .col-12
                                    .form-group
                                        input.form-control(type="text", placeholder="Last name")
                                .col-12
                                    .form-group
                                        input.form-control(type="text", placeholder="Address")
                                .col-12
                                    .form-group
                                        input.form-control(type="text", placeholder="Apartment, suite, ect. (optional)")
                                .col-12.col-sm-6
                                    .form-group
                                        select.form-control(type="text", placeholder="City")
                                            option(value="") Viet Nam
                                            option(value="") Viet Nam
                                .col-12.col-sm-6
                                    .form-group
                                        input.form-control(type="text", placeholder="Postal code")
                                .col-12
                                    .form-check
                                        input.form-check-input(type="checkbox", name="") 
                                        |Save this information for next time
                                .col-12.text-right.pt-4.pb-4.col-12.text-right.pt-4
                                    button.btn(type='submit') Continue to shipping
        .col-sm-12.col-lg-6.d-none.d-lg-block.border-left
            .row
                .col-sm-12.col-lg-12
                    include ./box-checkout/box-checkout.pug