.container
    .row
        .col-sm-12.col-lg-6
            .row
                .col-sm-12.p-4
                    h3.primary__title ice-snow-lips
            .row
                .col-sm-12.d-block.d-lg-none
                    div.border.showProd#showProd
                        .row
                            .col-7
                                span.fas.fa-shopping-cart
                                span Show order sumary
                                span.fas.fa-chevron-down
                            .col-5.text-right
                                span $2.29
                .col-sm-12.d-none.d-lg-block
                    nav(aria-label = "breadcrumb")
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href="") Information
                            li.breadcrumb-item
                                a(href="") Shipping
                            li.breadcrumb-item
                                a(href="") Payment
            .row
                .col-sm-12.col-lg-12
                    #Proc-box
                        include ./box-checkout/box-checkout.pug
            .row.form_checkout.pt-5
                include ./form_checkout/form_checkout.pug
        .col-sm-12.col-lg-6.d-none.d-lg-block.border-left
            .row
                .col-sm-12.col-lg-12
                    include ./box-checkout/box-checkout.pug