.add-date
    .slider-title
        h1.slider-title__main When are you traveling?
        p.slider-title__sub Add dates for updated pricing and availability.
    button.btn.btn--blue(type='submit') Add dates