.travel {
    padding-bottom: 20px;
    &__title {
        padding: 40px 0px 20px 0px;
        border-bottom: 1px solid #ccc;
        @include title-page();
    }
    &__list {
        border-bottom: 1px solid #ccc;
        padding-top: 25px;
        padding-bottom: 30px;
        @include flexbox();
        &__item {
            margin-right: 20px;
            width: 85%;
            .icon {
                img {
                    width: 80px;
                }
            }
            .title {
                margin-bottom: 8px;
                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.375em;
                    color: #484848;
                }
            }
            .description {
                width: 85%;
                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.2857142857142858em;
                    color: #484848;
                }
            }
        }
    }
}