#main.main
    .main__content
        include ./main-view/slide/slide.pug
    .main__content
        include ./main-view/utility/utility.pug
    .main__content
        include ./main-view/pro-detail/detail.pug
    .main__content
        include ./main-view/add-date/add-date.pug