block content
    section.adaptis-introduction
        .adaptis-introduction-container
            +adaptis-introduction-item
            +adaptis-introduction-item--special
            +adaptis-introduction-item--switch