block content
    div.footer-1
        div
            p Việt Nam
    div.footer-2
        div
            div.footer-2__position--right
                a(href="#") Quảng cáo
                a(href="#") Doanh nghiệp
                a(href="#") Giới thiệu
                a(href="#") Cách hoạt động của Tìm kiếm
            div.footer-2__position--left
                a(href="#") Bảo mật
                a(href="#") Điều khoản
                a(href="#") Cài đặt