div.footer
        div.footer-line1
           span.footer-line1__span-vn Viet Nam      
           span.footer-line1__span-hn Ha Noi - Based on your past activity - Use precise location - Learn more
        div.footer-line2
            a#a-help(href="#") Help
            a(href="#") Send feedback
            a(href="#") Privacy
            a(href="#") Terms 
