.footer
    .footer__country Việt Nam
    .footer__infor
        ul.footer-nav__list
            li.footer-nav__item
              a.footer-nav__link(href="#") Quảng cáo
            li.footer-nav__item
              a.footer-nav__link(href="#") Doanh nghiệp
            li.footer-nav__item
              a.footer-nav__link(href="#") Giới thiệu
            li.footer-nav__item
              a.footer-nav__link(href="#") Cách hoạt động của Tìm kiếm
        ul.footer-nav__list
            li.footer-nav__item
              a.footer-nav__link(href="#") Bảo mật
            li.footer-nav__item
              a.footer-nav__link(href="#") Điều khoản
            li.footer-nav__item
              a.footer-nav__link(href="#") Cài đặt