.google-footer
    .google-footer__top 
        p Việt Nam
    .google-footer__bottom 
        .google-footer__bottom__left 
            ul
                li
                    a(href="#") Quảng cáo 
                li 
                    a(href="#") Doanh nghiệp
                li 
                    a(href="#") Giới thiệu
                li
                    a(href="#") Cách hoạt động của Tìm kiếm
        .google-footer__bottom__right 
            ul
                li
                    a(href="#") Bảo mật 
                li
                    a(href="#") Điều khoản
                li
                    a(href="#") Cài đặt