section.kem-home-hoteliers
    .container-fluid
        .kem-home-hoteliers__heading
            h2.kem-home-hoteliers__heading__title.kem-title HOTELIERS SINCE 1897
            .kem-home-hoteliers__heading__desc
                span.kem-desc.kem-desc__separate Travelling in Style
        p.kem-home-hoteliers__para.kem-para Hoteliers since 1897, Kempinski has travelled the world in search of the most fascinating destinations without ever forgetting the finest traditions of its European heritage. With heritage hotels, luxury holiday resorts, business and spa hotels around the world, every Kempinski hotel is unique, designed for guests who value five-star holidays and luxury getaways.
