.kem-home-hoteliers {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    &__heading {
        &__desc {
            padding-bottom: 30px; 
        }
    }
    &__para {
        padding-bottom: 15px;
        @include min-xs {
            padding: 0 10%;
        }
        @include min-md {
            padding: 0 16%;
        }
        @include min-xl {
            padding: 0 22%;
        }
    }
}
