@import '../header/header.scss';

.airbnbUpdate-quote {
    &-image {
        margin: 15px;
        img {
            width: 100%;
        }
        @include breakpoint--small() {
            margin: 0 0 100px 120px;
            img {
                width: 80%;
            }
        }
    }
    &-article {
        &-quotes {
            margin: 15px;
            font-size: 100px;
            color: rgb(253, 179, 43);
            font-weight: bold;
            height: 60px;
        }
        &-citation {
            margin: 15px;
            p {
                font-size: 20px;
                color: rgb(72, 72, 72);
            }
        }
        &-author {
            margin: 15px;
            p {
                font-size: 15px;
                color: rgb(118, 118, 118);
            }
        }
        &-button {
            margin: 15px;
            button {
                border: 2px solid #484848;
                border-radius: 4px;
                background-color: #fff;
                width: 180px;
                height: 45px;
                color: #484848;
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
    @include breakpoint--small() {
        display: flex;
    }
}


