.modal#modalLogin
    .modal__content
        span.close#close1 &times;
        form(action="" method="method").form
            .form__element
                button.btn.btn--fb(type='submit') Log in with Facebook
                button.btn.btn--gg(type='submit') Log in with Google
            .form__element(style="margin-top: 30px;")
                hr
                span.middel or
            .form__element
                input(type="text", placeholder="Email Address")
            .form__element
                input(type="text", placeholder="Password")
            .form__element
                .remember
                    .remember__rmb
                        input(type="checkbox", name="")
                        label(for="") Remember me
                    .remember__showpw
                        a(href="#", title="title") Show password 
            .form__element
                button.btn(type='submit') Log in
            .form__element(style="text-align: center")
                a(href="#", title="title") Fogot password?
            .form__element(style="display: flex;")
                p Don’t have an account?
                a(href="", title="title") Sign up
- var modal = [
-   {title: "Who can be an Airbnb host?", sub: ["It’s easy to become an Airbnb host in most areas, and it’s always free to create a listing. Entire apartments and homes, private rooms, treehouses, and castles are just a few of the properties hosts have shared on Airbnb.","For more details on what’s expected of hosts, check out Airbnb’s community standards, which revolve around safety, security, and reliability, and hospitality standards, which help hosts earn great guest reviews."]},
-   {title: "What is required of guests before booking?", sub: ["We ask everyone who uses Airbnb for a few pieces of information before they travel with us. Guests need to have this info completely filled out before they can make a reservation request. This info helps make sure you know who to expect, and how to contact the guest.","Airbnb’s requirements for guests include: • Full name • Email address • Confirmed phone number • Introductory message • Agreement to your House Rules • Payment information","Guests are expected, but not required, to have a profile picture. You may also require guests to provide ID before booking your space."]},
-   {title: "How much does it cost to list my space?", sub: ["Signing up for Airbnb and listing your home is completely free.","Once you receive a reservation, we charge an Airbnb service fee for hosts, generally 3%, to help cover the cost of running of the business."]},
-   {title: "What protection do I have against property damage?", sub: ["The Airbnb Host Guarantee provides protection for up to $1,000,000 to a host for damages to covered property in the rare event of guest damages above the security deposit or if no security deposit is in place.","The Host Guarantee program doesn't cover cash and securities, collectibles, rare artwork, jewelry, pets or personal liability. We recommend that hosts secure or remove valuables when renting their place. The program also doesn't cover loss or damage to property due to wear and tear."]},
-   {title: "How should I choose my listing’s price?", sub: ["The price you charge for your listing is completely up to you. To help you decide, you can search for comparable listings in your city or neighborhood to get an idea of market prices.","Additional Fees • Cleaning fee: You can either incorporate a cleaning fee into your nightly price or you can add a cleaning fee in your pricing settings. • Other fees: To charge extra fees outside of your rates (like a late check-in or pet fee), you must first disclose these potential charges to guests prior to booking and then use our Resolution Center to securely request payment for additional fees."]},
-   {title: "How can Airbnb help me with setting prices?", sub: ["Airbnb’s Smart Pricing tool lets you set your prices to automatically go up or down based on changes in demand for listings like yours.", "You’re always responsible for your price, so Smart Pricing is controlled by other pricing settings you choose, and you can adjust nightly prices any time.","Smart Pricing is based on the type and location of your listing, the season, demand, and other factors (like events in your area)."]},
-   {type: "modalFeature",title: "Select your language", sub: ["Bahasa Indonesia", "Bahasa Melayu", "Català"]},
-   {type: "modalFeature",title: "Select currency", sub: ["Australian dollar - $","Brazilian real - R$","Bulgarian lev - лв"]}
- ]
each val, index in modal
    .modal(id ="modal"+index)
        .modal__content.modal__text-box
            span.close(id=index) &times;
            .modal__content--title=val.title
            if val.type
                each content in val.sub
                    .modal__content--sub
                        a(href="#")=content
            else
                each content in val.sub
                    .modal__content--sub=content
