block content
    div
        div.google-brand
            img(src='../../assets/images/googlelogo_color_272x92dp.png')
        div.search-group
            
            div.search-input
                div.search-icon
                    img(src='../../assets/images/search-solid.svg')
                input(type="text")
                div.keyboard-icon
                    a(href="#")
                        img(src='../../assets/images/keyboard-solid.svg')
    div.google-search-buttons
        center
            button Tìm với Google
            button Xem trang đầu tiên tìm được
    div.google-languages
        div
            p Google có các thứ tiếng:&emsp;
                span
                    a(href="#") English
                    a(href="#") Français
                    a(href="#") 中文（繁體）