section.air-question
    .container-fluid
        .air-question__content
            div(style="width: 100%; margin: 0 auto;")
                div(style="width: 64px;border: 1px solid #767676;margin: 0 auto;")
            .air-question__content__title
                h1 Your questions answered
            .air-question__content__item
                .content-left
                    a(href="#") Who can be an Airbnb host?
                    a(href="#") What is required of guests before booking?
                    a(href="#") How much does it cost to list my space?
                .content-right
                    a(href="#") What protection do I have against property damage?
                    a(href="#") How should I choose my listing’s price?
                    a(href="#") How can Airbnb help me with setting prices?
