section.a-solution-block 
    div.a-solution-block__decor(class="skrollable skrollable-before" data-top-bottom='transform: translateY(100px)' data-center-center='transform: translateY(-200px)')
    div.container
        div.a-solution-block__content
            div.a-solution-block__title.a-section-title
                span Providing
                span digital solutions
            div.a-solution-block__desc
                p Helping companies to become more digitally connected is one of our specialities. From design thinking to machine learning, we start with a holistic approach that combines core values with the value of technology solutions.
                p The result, clients have a much deeper grasp on their company’s purpose and are better prepared to maintain consistency in the connected age.
        ul.a-solution-block__items.wow.fadeInUp
            li.item.wow.fadeInUp(data-wow-delay="0.2s")
                span.item-content User Experience
                br
                span.item-content Design 
                div.item-text
                    span.text-icon UX
                    span.text-icon UI
            li.item.wow.fadeInUp(data-wow-delay="0.4s")
                span.item-content Development 
                br
                span.item-content &amp; Delivery
            li.item.wow.fadeInUp(data-wow-delay="0.6s")
                span.item-content Agency
                br
                span.item-content Parnership 
