section.airbnb-host__content
    include ./content-feature/content-feature.pug
    include ./content-hosting/content-hosting.pug
    include ./content-feedback/content-feedback.pug
    include ./content-question/content-question.pug
    include ./content-about/content-about.pug
    include ./content-banner/content-banner.pug