.adaptisVer2Title {
    @include display(flex, center);
    @include paddings(120px, 25px, 50px, 25px);
    height: auto;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #{color(adaptis-font-color)};
    p {
        max-width: 960px;
    }
    @include min-md {
        height: 80vh;
        padding: 50px;
    }
}