.airbnb-header {
    // background-color: #008489;
    @include min-sm {
        background-image: url('../images/airbnb/backgroun-header.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .airbnb-header-logo {
        background-color: #008489;
        @include min-sm {
            background-color: transparent;
        }
        padding: 20px 0px 95px 25px;
        svg {
            font-size: 32px;
            height:1em;
            width:1em;
            display:block;
            fill:#ffffff;
        }
    }
    .airbnb-header-form {
        // position: absolute;
        margin-top: -95px;
        @include min-sm {
            // position: relative;
            margin-left: 156px;
            width: 512px;
            padding-bottom: 60px; 
        }
        .form-content {
            @include min-sm {
                background-color: #fff;
            }
            &__title {
                padding: 0 15px 30px 0px;
                @include min-xs {
                    padding: 0 15px 60px 0px;
                }
                @include min-sm {
                    padding: 0 15px 15px 0px;
                    color: #484848;
                }
                p {
                    font-weight: bold;
                    font-size: 25px;
                    color: #ffffff;
                    line-height: 1.3;
                    @include min-sm {
                        color: #484848;
                        font-size: 32px;
                    }
                }
            }
            &__description {
                display: none;
                @include min-sm {
                    display: block;
                    padding-bottom: 20px;
                }
                p {
                    @include min-sm {
                        color: #484848;
                        font-size: 20px;
                        line-height: 26px;
                        letter-spacing: normal;
                        font-family: 'Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif';
                    }
                }
                
            }
        }
    }
    .form-content {
        padding: 15px;
        @include min-sm {
            padding: 30px;
        }
        form#form-header {
            .row {
                margin: 0px;
                [class*="col-"] {
                    padding-right: 0;
                    padding-left: 0;
                }

            }
            .form-group {
                margin-bottom: 25px;
                .title {
                    font-size: 12px;
                    font-weight: 800;
                    color: #484848;
                    letter-spacing: 0.08333333333333333em ;
                    display: block;
                    width: 100%;
                }
                input#where {
                    border-radius: 5px;
                }
                .form-control {
                    display: block;
                    border: 1px solid #ccc;
                    width: 100%;
                    padding: 13px 6px;
                    @include placeholder {
                        letter-spacing: 0.08333333333333333em ;
                        color: #484848;
                        font-weight: 500;
                    }
                    &--left {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    &--right {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
            .button {
                padding: 13px;
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 4px;
                text-align: center;
                background-color: #FF5A5F;
                a {
                    color: #fff;
                }
            }
        }
    }
    
}