body{
    padding: 0;
    background-color: white;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .google__logo{
      width: 20%;
    }
  
    .google__form{
      margin: 3rem 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
  
      .google__inp{
        width: 70%;
        margin: 2rem 0;
        padding: 1rem 8rem 1rem 2rem;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 20px;
        box-shadow: 2px 2px 1px 1px #b8b8b8;
      }
  
    
      .keyboard-icon{
        width: 2rem;
        position: absolute;
        right: 15rem;
        top: 47%;
        transform: translateY(-180%);
        cursor: pointer;
      }
  
      .voice-icon{
        width: 2rem;
        position: absolute;
        right: 12rem;
        top: 47%;
        transform: translateY(-180%);
        cursor: pointer;
      }
    
    }
  
    .btn{
      margin: 1rem;
      cursor: pointer;
      border: 1px solid white;
      background-color: rgb(235, 235, 235);
      color: rgb(145, 145, 145);
    
      &:hover{
        border: 1px solid rgb(170, 170, 170);
      }
    }
  
    .language{
      color: blue;
    }
  
  }