
mixin container-content__results(result)
    .container-content__results
        a.a-first(href="#")=result.title
        a.a-second(href="#")= result.link
        span.span-text= result.describe


div.container-content
    div.container-content__title
        | About 14,480,000 results ( 0,49 seconds)

    - const value1 = {title:'Speedtest by Ookla- The Global Broadband Speed Test', link:'https://www.speedtest.net/', describe:'Test your Internet connection bandwidth to location around the world with this interactive broadband speed test from Ookla'}
    - const value2 = {title: 'Fast.com: Internet Speed Test', link: 'https://fast.com/', describe: 'How fast is  your download speed? in seconds, FAST.com simple Internet speed test will estimates your ISP speed'}
    - const value3 = {title:'Speed Test - Telstra', link:'https://speedtest.telstra.com/', describe: 'Measure your connection speed for your Telstra nbn ADSL. Cablse or mobile data service'}
    - const value4 = { title:'Test Your Internet Speed- Spectrum', link:'https://www.spectrum.com/internet/speed-test.html/', describe:'Find out you internet download and upload speed in mps per second with our internet speed test. Get lightting fast internet speeds starting at 100 mps with'}
    - const value5 = {title: 'Fast.com: Internet Speed Test', link: 'https://fast.com/', describe: 'How fast is  your download speed? in seconds, FAST.com simple Internet speed test will estimates your ISP speed'}
    - const value6 = {title:'Speedtest by Ookla- The Global Broadband Speed Test', link:'https://www.speedtest.net/', describe:'Test your Internet connection bandwidth to location around the world with this interactive broadband speed test from Ookla'}
    - const value7 = {title:'Test Your Internet Speed- Spectrum', link:'https://www.spectrum.com/internet/speed-test.html/', describe:'Find out you internet download and upload speed in mps per second with our internet speed test. Get lightting fast internet speeds starting at 100 mps with'}
    
    - var array = { value1, value2, value3, value4, value5, value6, value7}
    each n,i in array
        +container-content__results(n)

    div.container-content__dropdown
        div.dropdown-wrapper
            span People also ask
            div.dropdown-content
                button(class="btn btn-basic dropdown-toggle" type="button" data-toggle="dropdown") 
                    | How do I test my WIFI speed?
                    span(class="caret")
                ul(class="dropdown-menu")
                    li
                        | Hỏi gì thì lên Google mà tra :) 
            div.dropdown-content2
                button(class="btn btn-basic dropdown-toggle" type="button" data-toggle="dropdown")
                    | How do I test my Internet connection?
                    span(class="caret")
                ul(class="dropdown-menu")
                    li
                        | Đã bảo cái gì cũng cần lên Google.com
            div.dropdown-content3
                button(class="btn btn-basic dropdown-toggle" type="button" data-toggle="dropdown")
                    | How do I test my broadband speed?
                    span(class="caret")
                ul(class="dropdown-menu")
                    li
                        | Hỏi chị Google.com nhé!
            div.dropdown-content4
                button(class="btn btn-basic dropdown-toggle" type="button" data-toggle="dropdown")
                    | How do I test my Comcast Internet Speeds ?
                    span(class="caret")
                ul(class="dropdown-menu")
                    li
                        | Google.com nhé!
        div.dropdown-footer
            span 
                i Feedback

    div.content-category
        span Searches related to best
        div.line1
            a.a-1(href="#") netflix speed test
            a.a-2(href="#") ping test
        div.line2
            a.a-3(hef="#") speed test mobile
            a.a-4(href="#") download test
        div.line3
            a.a-5(href="#") speed test Google
            a.a-6(href="#") internal speed test 
    div.content-pages
        img(src="../../../../assets/images/img-google-resuilt/logo-gooogle.PNG")
       
        div.content-pages__index
            a(href="#") 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") 5
            a(href="#") 6
            a(href="#") 7
            a(href="#") 8
            a(href="#") 9
            a(href="#") 10
            a#a-next(href="#") Next

            