.navbar{
  display: none;
  position: fixed;
  background-color: white;
}
@include Responsive(XL) {
  .navbar {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 4px 36px;
    border-bottom: 1px solid $gray;
    &__icon {
      padding: 12px 40px 0 24px;
      svg {
        top: 15px;
        left: 20px;
        width: 32px;
        height: 32px;
        fill: $blue;
      }
    }
    &__content{
      display: flex;
      align-items: center;
    }
    &__text{
      display: flex;
      align-items: center;
      padding: 15px;
      &--title{
        font-size: 14px;
        color: $color-text;
        padding: 15px;
      }
      &--price{
        font-size: 24px;
        color: black;
      }
    }
    button{
      padding: 7px 15px;
      margin: 0 0 0 10px;
    }
  }
}
