.nav-canvas#nav-canvas
    ul.nav-canvas__link
        li
            a(href="") all collections
        li
            span.fas.fa-caret-down#drop1
            a(href="") lipsticks
            ul.nav-canvas__link-sub#dropp1
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
        li
            span.fas.fa-caret-down
            a(href="") makeup tool
            ul.nav-canvas__link-sub
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
        li
            a(href="") other cosmetics