.header-nav {
  display: none;
  background: $color-background-nav;
 position: fixed;
  ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    li {
      list-style: none;
      a {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "Montserrat";
        color: $color-white;
        padding: 10px;
        span {
          padding-left: 10px;
        }
        // &:hover ~ .header-nav__sub {
        //   display: block;
        // }
      }
    }
  }
  @include Responsive(MD) {
    display: block;
  }
  @include Responsive(XL) {
    position: sticky;
    top: 0;
    display: block;
    ul {
      width: 80%;
      display: flex;
      align-items: center;
      li {
        list-style: none;
        a {
          display: block;
          font-size: 16px;
          text-transform: uppercase;
          font-family: "Montserrat";
          color: $color-white;
          padding: 10px;
          span {
            padding-left: 10px;
          }
        }
        &:hover {
          .header-nav__sub {
            display: block;
          }
        }
      }
    }
  }
  .header-nav__sub {
    display: none;
    position: absolute;
    width: 230px;
    background-color: $color-white;
    border: 1px solid $color-text-gray;
    a {
      position: relative;
      color: $color-text;
      font-family: "Roboto";
      transition: 0.5s;
      text-decoration: none;
      &:hover {
        padding-left: 40px;
      }
      &:hover::before {
        content: '';
        width: 15px;
        height: 1px;
        position: absolute;
        top: 18px;
        left: 20px;
        background: #000;
      }
    }
  }
}
