.header-nav
    ul
        li
            a(href="") All collection
        li
            a(href="") lipsticks
                span.fas.fa-caret-down
            ul.header-nav__sub
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
        li
            a(href="") lipsticks
                span.fas.fa-caret-down
            ul.header-nav__sub
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
                li
                    a(href="") 3CE Lipstick
        li
            a(href="") All collection
        li
            a(href="") All collection