.header-nav
    ul
        - const menu = [
        -   {link: "All collections"},
        -   {link: "lipsticks", sub:["3CE Lipstick", "3CE Lipstick", "3CE Lipstick"]},
        -   {link: "makeup tool", sub:["3CE Lipstick", "3CE Lipstick", "3CE Lipstick"]},
        -   {link: "orther cosmetics", sub:["3CE Lipstick", "3CE Lipstick", "3CE Lipstick"]},
        - ]
        each val in menu
            li
                a(href="")=val.link
                    if val.sub
                        span.fas.fa-caret-down
                if val.sub
                    ul.header-nav__sub
                        each item in val.sub
                            li
                                a(href="")=item