section.kem-destination-place
    .container-fluid
        .col-md-10.col-lg-10.col-md-offset-1
            .row(style="margin:0")
                .col-xs-12(style="padding:0")
                    div.row.kem-destination-place__btn-block
                        - var btnArr = [
                        - {
                        -    idBtn: 1, 
                        -    nameBtn: "Filter By Region", 
                        -    listFilter: 1,
                        -    dataFilterGroup: "region", 
                        -    listBtn: [
                        -                {id:"r0", select:"Filter By Region"}, 
                        -                {id:"r1", select:"Europe"}, 
                        -                {id:"r2", select:"Asia Pacific"}, 
                        -                {id:"r3", select:"Americas"}, 
                        -                {id:"r4", select:"Middle East & Africa"}
                        -             ]
                        - },
                        - {
                        -    idBtn: 2, 
                        -    nameBtn: "Filter By Country", 
                        -    listFilter: 2,
                        -    dataFilterGroup: "country",  
                        -    listBtn: [
                        -                {id:"c0", select:"Filter By Country"},
                        -                {id:"c1", select:"Australia"},
                        -                {id:"c2", select:"Bulgaria"},
                        -                {id:"c3", select:"CROATIA"},
                        -                {id:"c4", select:"GERMANY"},
                        -                {id:"c5", select:"HUNGARY"},
                        -                {id:"c6", select:"ITALY"},
                        -                {id:"c7", select:"LATVIA"},
                        -                {id:"c8", select:"LITHUANIA"},
                        -                {id:"c9", select:"MALTA"},
                        -                {id:"c11", select:"CHINA"},
                        -                {id:"c12", select:"INDONESIA"},
                        -                {id:"c13", select:"MONGOLIA"},
                        -                {id:"c14", select:"MYANMAR"},
                        -                {id:"c15", select:"SINGAPORE"},
                        -                {id:"c16", select:"THAILAND"},
                        -                {id:"c17", select:"CUBA"},
                        -                {id:"c18", select:"dominica"},
                        -                {id:"c19", select:"DEMOCRATIC REPUBLIC OF CONGO"},
                        -                {id:"c20", select:"DJIBOUTI"},
                        -                {id:"c21", select:"EGYPT"},
                        -                {id:"c22", select:"GHANA"},
                        -                {id:"c23", select:"JORDAN"},
                        -                {id:"c24", select:"KENYA"},
                        -                {id:"c25", select:"LEBANON"},
                        -                {id:"c26", select:"OMAN"},
                        -                {id:"c27", select:"QATAR"},
                        -                {id:"c28", select:"SAUDI ARABIA"}
                        -             ]
                        - },
                        - {
                        -    idBtn: 3, 
                        -    nameBtn: "Filter By Experience", 
                        -    listFilter: 3,
                        -    dataFilterGroup: "experience",  
                        -    listBtn: [
                        -                {id: "e0", select:"Filter By Experience"}, 
                        -                {id: "e1", select:"Weddings"},
                        -                {id: "e2", select:"Culinary"},
                        -                {id: "e3", select:"Golf"},
                        -                {id: "e4", select:"Ski"},
                        -                {id: "e5", select:"Spa"},
                        -                {id: "e6", select:"SUITELY SENSATIONAL"}
                        -             ]
                        - },
                        - {
                        -    idBtn: 4, 
                        -    nameBtn: "Filter By Property Type", 
                        -    listFilter: 4,
                        -    dataFilterGroup: "", 
                        -    listBtn: [
                        -                {select:"Filter By Property Type"},
                        -                {select:"Kempinski Hotel"},
                        -                {select:"Residence"},
                        -                {select:"Combined Hotel Residence"}
                        -             ]
                        - }
                        - ]
                        each btn in btnArr
                            .col-xs-12.col-sm-6.col-md-3(style="margin-bottom: 1rem")
                                .kem-destination-place__btn-block__btn(type="button" id= "idBtn"+ btn.idBtn) 
                                    =btn.nameBtn
                                    span.kem-destination-place__btn-block__icon
                                        i(class="fas fa-caret-down")
                                    .filters
                                        ul.kem-destination-place__btn-block__list(id= "listFilter"+ btn.listFilter data-filter-group= btn.dataFilterGroup)
                                            each link in btn.listBtn
                                                li.kem-destination-place__btn-block__item(id= link.id)
                                                    a.kem-destination-place__btn-block__link= link.select
                                            
            .row(style="margin:0")
                .col-xs-12.col-md-12
                    ul.row.kem-destination-place__area
                        - var itemLv1Arr = [
                        - {
                        -    regionName: "r1",
                        -    blockArr: [{
                        -               title: "europe",
                        -               itemLv2Arr: [
                        -                             {className: "c1", subtitle: "australia",
                        -                              itemLv3Arr: [{expClass: "e1", expName: ["Joohberg - Kitzbuhel", "Vienna"]}]},
                        -                             {className: "c2", subtitle: "Bulgaria",
                        -                              itemLv3Arr: [{expClass: "e2", expName:["Banko"]}]},
                        -                             {className: "c3", subtitle: "croatia",
                        -                              itemLv3Arr: [{expClass: "e3", expName: ["savudrjia - latria"]}]},
                        -                             {className: "c4", subtitle: "germany",
                        -                              itemLv3Arr: [{expClass: "e4", expName: ["Berchtesgaden", "Berlin - Adlon", "Berlin - Bristol (Partner Hotel)", "Dresden", "Frankfurt - Gravenbruch", "Hamburg", "Königstein – Falkenstein Grand", "Königstein - Villa Rothschild", "Munich"]}]},
                        -                             {className: "c5", subtitle: "HUNGARY",
                        -                              itemLv3Arr: [{expClass: "e5", expName: ["Budapest"]}]},
                        -                             {className: "c6", subtitle: "ITALY",
                        -                              itemLv3Arr: [{expClass: "e6", expName:["Venice"]}]},
                        -                             {className: "c7", subtitle: "LATVIA",
                        -                              itemLv3Arr: [{expClass: "", expName: ["Riga"]}]},
                        -                             {className: "c8", subtitle: "LITHUANIA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Vilnius"]}]},
                        -                             {className: "c9", subtitle: "MALTA",
                        -                              itemLv3Arr: [{expClass: "", expName: ["Gozo - San Lawrenz"]}]},
                        -                             {className: "c10", subtitle: "RUSSIA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Black Sea - Gelendzhik", "Moscow", "St. Petersburg"]}]}
                        -                           ]                 
                        -            }]
                        - },
                        - {
                        -    regionName: "r2", 
                        -    blockArr: [{
                        -               title: "ASIA PACIFIC",
                        -               itemLv2Arr: [
                        -                             {className: "c11", subtitle: "CHINA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Beijing ", "Beijing Yanqi Lake - Boutique", "Hotels", "Beijing Yanqi Lake - Sunrise", "Beijing Yanqi Lake - Yanqi Hotel", "Changsha", "Chengdu", "Chongqing", "Dalian", "Fuzhou", "Guiyang", "Hangzhou", "Huizhou", "Nanjing", "Shanghai - Pudong", "Shanghai - Puxi", "Shenyang", "Shenzhen", "Suzhou", "Taiyuan", "Xiamen", "Yinchuan"]}]},
                        -                             {className: "c12", subtitle: "INDONESIA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Bali - Nusa Dua", "Jakarta"]}]},
                        -                             {className: "c13", subtitle: "MONGOLIA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Ulaanbaatar"]}]},
                        -                             {className: "c14", subtitle: "MYANMAR",
                        -                              itemLv3Arr: [{expClass: "", expName:["Nay Pyi Taw"]}]},
                        -                             {className: "c15", subtitle: "SINGAPORE",
                        -                              itemLv3Arr: [{expClass: "", expName:["Singapore"]}]},
                        -                             {className: "c16", subtitle: "THAILAND",
                        -                              itemLv3Arr: [{expClass: "", expName:["Bangkok - Siam"]}]}
                        -                           ]                 
                        -            }]
                        - },
                        - {
                        -    regionName: "r3",
                        -    blockArr: [{
                        -               title: "AMERICAS",
                        -               itemLv2Arr: [
                        -                             {className: "c17", subtitle: "CUBA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Havana"]}]},
                        -                             {className: "c18", subtitle: "DOMINICA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Portsmouth - Douglas Bay"]}]}
                        -                           ]                 
                        -            }]
                        - },
                        - {
                        -    regionName: "r4",
                        -    blockArr: [{
                        -               title: "MIDDLE EAST & AFRICA",
                        -               itemLv2Arr: [
                        -                             {className: "c19", subtitle: "DEMOCRATIC REPUBLIC OF CONGO",
                        -                              itemLv3Arr: [{expClass: "", expName:["Kinshasa - Gombe"]}]},
                        -                             {className: "c20", subtitle: "DJIBOUTI",
                        -                              itemLv3Arr: [{expClass: "", expName:["Djibouti"]}]},
                        -                             {className: "c21", subtitle: "EGYPT",
                        -                              itemLv3Arr: [{expClass: "", expName:["Cairo - New Cairo", "Cairo - Nile", "Soma Bay - Red Sea"]}]},
                        -                             {className: "c22", subtitle: "GHANA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Accra - Ridge"]}]},
                        -                             {className: "c23", subtitle: "JORDAN",
                        -                              itemLv3Arr: [{expClass: "", expName:["Amman", "Aqaba - Red Sea", "Dead Sea"]}]},
                        -                             {className: "c24", subtitle: "KENYA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Masai Mara", "Nairobi"]}]},
                        -                             {className: "c25", subtitle: "LEBANON",
                        -                              itemLv3Arr: [{expClass: "", expName:["Beirut"]}]},
                        -                             {className: "26", subtitle: "OMAN",
                        -                              itemLv3Arr: [{expClass: "", expName:["Muscat"]}]},
                        -                             {className: "c27", subtitle: "QATAR",
                        -                              itemLv3Arr: [{expClass: "", expName:["Doha", "Doha - The Pearl-Qatar"]}]},
                        -                             {className: "c28", subtitle: "SAUDI ARABIA",
                        -                              itemLv3Arr: [{expClass: "", expName:["Al Khobar"]}]}
                        -                           ]                 
                        -            }]
                        - },
                        - ]

                        each itemLv1 in itemLv1Arr
                            li.col-xs-12.col-md-3.kem-destination-place__area__item(class= itemLv1.regionName)
                                each block in itemLv1.blockArr
                                    div.kem-destination-place__area__block
                                        h2.kem-destination-place__area__title= block.title
                                        ul.kem-destination-place__area__listLv2
                                            each itemLv2 in block.itemLv2Arr
                                                li.kem-destination-place__area__itemLv2(class= itemLv2.className)
                                                    h3.kem-destination-place__area__subtitle= itemLv2.subtitle
                                                    ul.kem-destination-place__area__listLv3
                                                        each itemLv3 in itemLv2.itemLv3Arr
                                                            li.kem-destination-place__area__itemLv3(class= itemLv3.expClass)
                                                                each link3 in itemLv3.expName     
                                                                    a.kem-destination-place__area__linkLv3(href="#")= link3