block content
    section.adaptis-highlight-block
        .adaptis-highlight-block-bgd(class='skrollable skrollable-after skrollable-between' data-bottom-center='transform: translate(0, 20%)' data-center-center='transform: translate(0,0)')
        .adaptis-highlight-block-content
            .adaptis-highlight-block-content__desc View our work for Vicostone Quartz.  Customize your new quartz stone through the online visualiser and learn about new trends in home improvements.
            a(href="#").adaptis-highlight-block-content__link VIEW THE WORK     