div.viewTheWork
    div.viewTheWork__bgd(class='skrollable skrollable-after')
    div.viewTheWork__container
        div.desc View our work for Vicostone Quartz.  Customize your new quartz stone through the online visualiser and learn about new trends in home improvements.
        a.link.a-btn-solid(href='' title='VIEW THE WORK') VIEW THE WORK
        
       

