div.viewTheWork
    div.viewTheWork__container
        div.viewTheWork__container__desc
            p View our work for Vicostone Quartz.  Customize your new quartz stone through the online visualiser and learn about new trends in home improvements.
        div.viewTheWork__container__link
            div.viewTheWork__container__link__a 
                a VIEW THE WORK 

