.form-login#modalLogin
    .form-login__content#modalContentLogin
        i#closeBtn.fas.fa-times
        form(action="" method="method").form
            .form__element
                button.btn.btn-primary.btn-lg.btn-block(type='submit') Log in with Facebook
                    i.fab.fa-facebook-f
            .form__element
                button.light(type='submit') Log in with Google
                    i.fab.fa-google
            .form__element
                .bold
                    span or
            .form__element
                input(type="text", placeholder="Email Address")
            .form__element
                input(type="text", placeholder="Password")
            .form__element
                .box
                    .box1
                        input(type="checkbox", name="")
                        label(for="") 
                            h2 Remember me
                    .box2
                        a(href="#", title="title") Show password 
            .form__element
                button.btn.btn-danger.btn-lg.btn-block(type='submit') Login
            .form__element
                p Forgot password?
                div(style="  border-bottom: 1px solid #dddada; margin-top:10px;")
            .form__element
                h5 Don’t have an account?
                h4 Sign up?
        