.utility {
  width: 100%;
  .multiple-items{
      border-top: 1px solid rgb(208, 203, 203);
      border-bottom: 1px solid rgb(208, 203, 203);
      margin: 20px 0;
      padding: 20px 0;
  }
  &__icon {
    height: 40px;
    width: 40px;
    display: block;
    overflow: visible;
    fill:#60B6B5;
    fill-opacity: 0;
    stroke:#60B6B5;
    stroke-width: 1;
  }
  &__content{
    width: 100%;
    padding-right: 35px;
    &--title{
        font-size: 1.6em;
        font-weight: bold;
        padding: 15px 0 5px 0;
    }
    &--main{
        font-size: 1.4em;
    }
  }
}
