.viewTheWork {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
    margin-bottom: 40px;
    .viewTheWork__bgd {
        background-image: url('../../assets/images/adaptis/adaptis-vicostone.jpg');
        transform: translate(0,0);
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .viewTheWork__container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        .desc {
            color: #fff;
            text-align: center;
            padding: 0 5%;
            width: 100%;
            margin-bottom: 30px;
            @media (min-width: 768px) {
                margin-bottom: 0;
                text-align: right;
                width: 70%;
            }
        }
        .link {
            background: rgba(255,255,255,.25);
            align-self: center;
            font-size: .6875rem;
            line-height: 2.18182;
            padding: 7px 60px 7px 20px;
            position: relative;
            white-space: nowrap;
            transition: all .2s ease-in-out;
            border: 1px solid #fff;
            display: inline-block;
            letter-spacing: 2px;
            font-weight: 500;
            color: #fff;
            min-width: 200px;
            text-decoration: none;
        }
        .link::before {
            position: absolute;
            left: 80%;
            opacity: 0;
            font-size: 16px;
            line-height: 0;
            transition: all .2s ease-in-out;
            content:'→';
            top: 50%;
        }
        .link:hover {
            color: #fff;
        }
        .link:hover::before {
            left: 85%;
            opacity: 1;
        }
        .link:focus {
            outline: 0;
        }
    }
    .viewTheWork__container:focus {
        outline: -webkit-focus-ring-color auto 1px;
    }
}
.viewTheWork::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}