block content
    .adaptis-successStory
        .adaptis-successStory-ballon
            .adaptis-successStory-ballon__bg
        .adaptis-successStory-background
        .adaptis-successStory-content
            .adaptis-successStory-content__title Success Story
            .adaptis-successStory-content__subtitle Johnnie Walker CRM Program
            .adaptis-successStory-content__description As apart of launching Johnnie Walkers CRM program, we built a personalisation studio that allows you to customise a Johnnie Walker Wiskey.
            a(href="#") VIEW THE WORK
