@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Khai báo kích thước tương ứng với màn hình thiết bị

$XS: 480px;
$SM: 744px;
$MD: 1128px;
$XL: 1170px;

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media (min-width: 0) and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media (min-width: $XS + 1px) and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media (min-width: $SM + 1px) and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $MD + 1px) {
      @content;
    }
  }
}

// Breakpoint
@mixin min-xl {
  @media screen and (min-width: #{breakpoints(xl)}) {
      @content;
  }
}

@mixin min-lg {
  @media screen and (min-width: #{breakpoints(lg)}) {
      @content;
  }
}

@mixin min-md {
  @media (min-width: #{breakpoints(md)}) {
      @content;
  }
}

@mixin min-sm {
  @media (min-width: #{breakpoints(sm)}) {
      @content;
  }
}

@mixin min-smplus {
  @media (min-width: #{breakpoints(sm)} + 1px) {
      @content;
  }
}

@mixin min-xs {
  @media screen and (min-width: #{breakpoints(xs)}) {
      @content;
  }
}

@mixin min-xxs {
  @media screen and (max-width: #{breakpoints(xxs)}) {
      @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{breakpoints(lg) + 1px}) {
      @content;
  }
}

@mixin device {
  @media screen and (max-width: #{breakpoints(lg)}) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: #{breakpoints(sm)}) and (max-width: #{breakpoints(lg)}) {
      @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{breakpoints(sm) - 1px}) {
      @content;
  }
}

@mixin not-mobile {
  @media screen and (min-width: #{breakpoints(sm)}) {
      @content;
  }
}

@mixin print {
  @media print {
      @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
      @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
      @content;
  }
}

@mixin ie {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
  }
}