$color-dark: #000000;
$color-white: #FFFFFF;
$color-red: #E95144;
$color-background-red: rbga(255,113,113,0.8);
$color-background-nav: #ED8074;
$color-background-dark: #323232;
$color-background-gray: #3B3B3B;
$color-border-gray: #2D2D2D;
$color-border-dark: #000000;
$color-text-gray: #DBDBDB;
$color-text: #000000;
$color-text-price: #969696;