.nav-cart
    .container-fluid
        .row
            .col-12.box-cart
                #cartContent
            .col-12.box-checkout
                .row.justify-content-between
                    .col-3
                        h3  Total
                    .col-3
                        h3.totalPriceCart
                .row.justify-content-center
                    button(type='submit') Checkout
                    a(href="#", title="title") or view cart