.booked {
    &__title {
        padding: 30px 0px 10px 0px;
        @include title-page();
    }
    &__list {
        @include flexbox();
        margin: 0 -8px;
        &__item {
            margin-top: 10px;
            padding: 0 8px;
            .name {
                padding: 10px 0px;
                p {
                    color: #767676;
                    font-size: 13px;
                    font-weight: 800;
                    line-height: 1.3333333333333333em;
                }
            }
            .title {
                p {
                    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 1.4444444444444444em;
                    color: #484848;
                }
            }
            .price {
                word-wrap: break-word;
                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.2857142857142858em;
                    color: #484848;
                }
            }
            .rated {
                @include flexbox();
                &__star {
                    margin-left: -5px;
                    img {
                        width: 100%;
                    }
                }
                &__number {
                    margin-top: -5px;
                    span {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 1.2857142857142858em;
                        color: #484848;
                    }
                }
            }
        }
    }
    &__show {
        text-align: center;
        padding: 14px;
        padding-top: 18px;
        border: 1px solid #008489;
        background: transparent;
        border-radius: 4px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: #008489;
            line-height: 18px;
            letter-spacing: normal;
            font-weight: 800;
            &:hover {
                cursor: pointer;
                text-decoration-color: #008489;
            }
        }
        @include min-sm {
            text-align: left;
            padding: 15px 0px; 
            border: none; 
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}