block content
    div
        div
            p Việt Nam
        div
            div
                img(src="../../assets/images/circle-solid.svg")
            div
                div
                    p Hà Nội 
                div
                    p - Từ địa chỉ Internet của bạn 
                div
                    a(href="#") - Sử dụng vị trí chính xác 
                div
                    a(href="#") - Tìm hiểu thêm
    div
        div
            a(href="#") Trợ giúp
        div
            a(href="#") Gửi phản hồi
        div
            a(href="#") Bảo mật
        div
            a(href="#") Điều khoản    
            