//- .modal-header__language
//-     ul.modal-header__language__list
//-         - var langArr = ["Ai Cập", "Espanol", "France", "Pyccknm", "Tàu", "Deutsch"]
//-         each lang in langArr
//-             li.modal-header__language__item
//-                 a.modal-header__language__list(href="")= lang

.modal-header__account
    div
        - var linkArr = [
        - {classLink: "", classContent: "my account"},
        - {classLink: "", classContent: "Need assistant"}
        - ]
        each link in linkArr
            a(href="" class= link.classLink)= link.classContent

    h5 Need something special for your upcoming stay?
    p Access your upcoming trip to modify or cancel your booking.
    div
        - var linkArr = [
        - {classLink: "", classContent: "create a new account"},
        - {classLink: "", classContent: "login to your account"}
        - ]
        each link in linkArr
            a(href="" class= link.classLink)= link.classContent
        