.add-modal
    .add-modal__content
        .row
            .col-12.close-modal
                i.fas.fa-times
        .row
            .col-3
                img(src="//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-934683218_large.jpg?v=1560242547")
            .col-9
                h5 Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenne
                p 
                    i.fas.fa-check#check
                    |is added to shopping card
                .add-modal__button
                    button.btn(type='button') continue shopping 
                    button.btn(type='button') go to card