- const modalPro = [
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-932241012_large.jpg?v=1560166171",content:"O.TWO.O 12 Colors Lips Makeup Lipstick  Lip Gloss Long Lasting Moisture Cosmetic Lipstick Red Lip Matte Lipstick Waterproof"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986041898_large.jpg?v=1560167031",content:"VIBELY 4 Colors Long Lasting Moisturizer Lipstick Makeup Waterproof Charming Lips Stick Lip Make Up Cosmetic Beauty maquiagem"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-408654837_large.jpg?v=1560166171",content:"O.TWO.O High Quality Velvet Matte lipstick Long Lasting Lips Makeup Waterproof Liquid Lipgloss Lip stick Pigmented 12 Colors"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986749718_large.jpg?v=1560242548",content:"MISS ROSE 12 Colors Matte Lipstick makeup Long Lasting Waterproof lip gloss Gifts for Women Beauty Cosmetic maquillaje TSLM1"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986036456_large.jpg?v=1560166169",content:"Kissbeauty Aloe Vera Color Changes Lip Cream Moisturizing Long Lasting Lipstick"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-936322753_large.jpg?v=1560242577",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986036456_large.jpg?v=1560166169",content:"Kissbeauty Aloe Vera Color Changes Lip Cream Moisturizing Long Lasting Lipstick"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-936322753_large.jpg?v=1560242577",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-821634520_large.jpg?v=1560156404",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-736359186_large.jpg?v=1560156425",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-821634520_large.jpg?v=1560156404",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-894407076_large.jpg?v=1560166174",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986749718_large.jpg?v=1560242548",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-934683218_large.jpg?v=1560242547",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"}
- ]

- const box_hotsale = [
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-932241012_large.jpg?v=1560166171",content:"O.TWO.O 12 Colors Lips Makeup Lipstick  Lip Gloss Long Lasting Moisture Cosmetic Lipstick Red Lip Matte Lipstick Waterproof"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986041898_large.jpg?v=1560167031",content:"VIBELY 4 Colors Long Lasting Moisturizer Lipstick Makeup Waterproof Charming Lips Stick Lip Make Up Cosmetic Beauty maquiagem"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-408654837_large.jpg?v=1560166171",content:"O.TWO.O High Quality Velvet Matte lipstick Long Lasting Lips Makeup Waterproof Liquid Lipgloss Lip stick Pigmented 12 Colors"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986749718_large.jpg?v=1560242548",content:"MISS ROSE 12 Colors Matte Lipstick makeup Long Lasting Waterproof lip gloss Gifts for Women Beauty Cosmetic maquillaje TSLM1"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986036456_large.jpg?v=1560166169",content:"Kissbeauty Aloe Vera Color Changes Lip Cream Moisturizing Long Lasting Lipstick"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-936322753_large.jpg?v=1560242577",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986036456_large.jpg?v=1560166169",content:"Kissbeauty Aloe Vera Color Changes Lip Cream Moisturizing Long Lasting Lipstick"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-936322753_large.jpg?v=1560242577",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-821634520_large.jpg?v=1560156404",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-736359186_large.jpg?v=1560156425",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-821634520_large.jpg?v=1560156404",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-894407076_large.jpg?v=1560166174",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986749718_large.jpg?v=1560242548",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"},
-   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-934683218_large.jpg?v=1560242547",content:"Brand Makeup Lip Gloss Waterproof Batom Lips Tint Red Brown Nude Long Lasting Liquid Matte Lipstick Makeup Lipgloss kyliejenner"}
- ]
.add-modal
    each pro,index in modalPro
        .add-modal__content(id="modalContent"+index)
            .row
                .col-12.close-modal(id="closeBtn"+index)
                    i.fas.fa-times
            .row
                .col-3
                    img(src=pro.img)
                .col-9
                    h5=pro.content
                    p 
                        i.fas.fa-check#check
                        |is added to shopping card
                    .add-modal__button
                        button.btn(type='button') continue shopping 
                        button.btn(type='button') go to card
    each pro,index in box_hotsale
        .add-modal__content(id="modalHotsaleContent"+index)
            .row
                .col-12.close-modal(id="closeHotsaleBtn"+index)
                    i.fas.fa-times
            .row
                .col-3
                    img(src=pro.img)
                .col-9
                    h5=pro.content
                    p 
                        i.fas.fa-check#check
                        |is added to shopping card
                    .add-modal__button
                        button.btn(type='button') continue shopping 
                        button.btn(type='button') go to card