div.weAre.container-fluid
    div.weAre-introduction
        div.weAre-bgd
            a.link(href='') LET'S TALK
    div.item-content(class='skrollable skrollable-between')
        div.item-title
            span We are 
            span problem solvers
        div.item-context 
            div.desc 
                p Adaptis crafts engaging end-to-end digital solutions that aim to solve real problems. We are a collective of problem solvers and creative thinkers. Engineers and analysts.
                p Some clients call us a digital agency, others see us as a development partner. We just see it as investing in our people to work alongside the most demanding of clients. Welcome to Adaptis, a global technical agency with locations in Australia, Switzerland, South East Asia, and Vietnam.
                
        