@import '../shared/shared.scss';
.weAre{
    font-family: $main-font;
    margin-bottom: 50px;
    // margin-top: 120px;
    &__item-img{
        position: relative;
        width: 100%;
        min-height: 30vh;
        background-image: url('../../assets/images/adaptis/bgd-solvers.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__link{
            position:absolute;
            bottom: 0px;
            width: 250px;
            height: 29px;
            background-color: white;
            a{
                color: #3C213A;
                text-decoration: none;
                font-size: .6875rem;
                margin-left: 35px;
            }
        }
    }
    &__item-content{
        margin-top: 30px;
        &__item-title{
            font-family:'Times New Roman', Times, serif;
            #titlePrimary{
            color: #6E6E6E;
            font-size: 1.2em;
            line-height: 1em;
            }
            #titleSeconds{
            font-size: 30px;
            color: #393939;
            }
        }
        &__item-sub{
            font-size: 13px;
            line-height: 1.6rem;
            margin-top: 5px;
            color: #393939;
            justify-content: center;
            #sub1{
                margin-bottom: 30px;
                display: block;
            }
            #sub2{
                display: block;
            }
        }
    }
    
}