div.weAre
    div.weAre__item-img( data-aos="fade-right")
        div.weAre__item-img__link
            a(href="#") LET'S TALK
    div.weAre__item-content(data-aos="fade-left")
        section.weAre__item-content__item-title
            span#titlePrimary We are 
            span#titleSeconds problem solvers
        section.weAre__item-content__item-sub
            p#sub1 Adaptis crafts engaging end-to-end digital solutions that aim to solve real problems. We are a collective of problem solvers and creative thinkers. Engineers and analysts. 
            p#sub2 Some clients call us a digital agency, others see us as a development partner. We just see it as investing in our people to work alongside the most demanding of clients. Welcome to Adaptis, a global technical agency with locations in Australia, Switzerland, South East Asia, and Vietnam.
        