.adaptis-footer {
    @include adaptisVer2BackgroundImage(url('../images/adaptis/background-footer.png'));
    opacity: 1;
    @include transition(all, .4s, ease-in-out);
    padding: 50px 0 0;
    border-bottom: 10px solid #383939;
    overflow: hidden;
    text-align: center;
    &-container {
        max-width: 1024px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
        &__logo {
            letter-spacing: 12px;
            margin-bottom: 5px;
            font-size: 1.125em;
            animation: fadeInDown .5s linear forwards;
            animation-delay: .2s;
            span {
                position: relative;
                transition: all .3s;
                color: #{color(c-white)};
                &:hover {
                    animation: shine 2s infinite;
                    -webkit-mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
                    -webkit-mask-size: 200%;
                    mask-mode: luminance;               
                }
            }
        }
    }
    &-items {
        margin-top: 20px;
        @include display(flex, center);
        flex-direction: column;
        .adaptis-footer-item {
            display: inline-block;
            letter-spacing: .25em;
            padding-top: 5px;
            color: #{color(c-white)};
            font-size: .75rem;
            &:hover {
                color: #9F579E;
            }
        }
    }
    &-clocks {
        @include display(flex, center);
        flex: 1;
        position: relative;
        width: 100%;
        flex-direction: row;
        margin-top: 30px;
        flex-wrap: wrap;
    }
}
:root{
    --size: 200px;
  }
#clock{
    width: var(--size);
    height: var(--size);
    background-color: #ccc;
    border: 3px solid #000;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 black;
    position: relative;
  }
  
  #sec-hand {
    width: 1px;
    height: 50%;
    background-color: black;
    transform-origin: 50% 80%;
    position: absolute;
    top: 10%;
    left: 50%;
  }
  
  #min-hand {
    width: 3px;
    height: 40%;
    background-color: blue;
    transform-origin: 50% 80%;
    position: absolute;
    top: 18%;
    left: calc(50% - 1px);
  }
  
  #hr-hand {
    width: 5px;
    height: 25%;
    background-color: red;
    transform-origin: 50% 80%;
    position: absolute;
    top: 30%;
    left: calc(50% + -2px);
  }
  
  .num{
    height: 100%;
    position: absolute;
    left: calc(50% - 0.5em);
  }
  
  .num div {
    width: 1em;
    line-height: 2em;
    color: brown;
    text-align: center;
    vertical-align: middle;
  }
  
  .num1 {
    transform: rotate(30deg);
  }
  
  .num1 div{
    transform: rotate(-30deg);
  }
  
  .num2 {
    transform: rotate(60deg);
  }
  
  .num2 div{
    transform: rotate(-60deg);
  }
  
  .num3 {
    transform: rotate(90deg);
  }
  
  .num3 div{
    transform: rotate(-90deg);
  }
  
  .num4 {
    transform: rotate(120deg);
  }
  
  .num4 div{
    transform: rotate(-120deg);
  }
  
  .num5 {
    transform: rotate(150deg);
  }
  
  .num5 div{
    transform: rotate(-150deg);
  }
  
  .num6 {
    transform: rotate(180deg);
  }
  
  .num6 div{
    transform: rotate(-180deg);
  }
  
  .num7 {
    transform: rotate(210deg);
  }
  
  .num7 div{
    transform: rotate(-210deg);
  }
  
  .num8 {
    transform: rotate(240deg);
  }
  
  .num8 div{
    transform: rotate(-240deg);
  }
  
  .num9 {
    transform: rotate(270deg);
  }
  
  .num9 div{
    transform: rotate(-270deg);
  }
  
  .num10 {
    transform: rotate(300deg);
  }
  
  .num10 div{
    transform: rotate(-300deg);
  }
  
  .num11 {
    transform: rotate(330deg);
  }
  
  .num11 div{
    transform: rotate(-330deg);
  }
  
  .num12 {
    transform: rotate(0deg);
  }
  
  .num12 div{
    transform: rotate(-0deg);
  }
.adaptis-footer-clock {
    padding: 2%;
    width: 50%;
    margin: 0;
    overflow: hidden;
    @include min-sm {
        width: 21%;
    }
    &__clock {
        display: none;
        @include min-sm {
            display: block;
        }
    }
    &__text {
        margin-top: 30px;
        &--location {
            letter-spacing: 8px;
            padding-bottom: 10px;
            @include adaptisVer2FooterClockText;
            color: #{color(c-white)};
        }
        &--phone {
            @include adaptisVer2FooterClockText;
        }
        &--email {
            @include adaptisVer2FooterClockText;
        }
    }
}

@keyframes fadeInDown {
    0% {opacity: 0; @include translate3D(0, -100%, 0)};
    100% {opacity: 1; @include translate3D(0, 0, 0)};
}

@keyframes shine {
    0% {-webkit-mask-position: 150%};
    100% {-webkit-mask-position: -50%;}
}