.adaptis-footer {
    @include adaptisVer2BackgroundImage(url('../images/adaptis/background-footer.png'));
    opacity: 1;
    @include transition(all, .4s, ease-in-out);
    padding: 50px 0 0;
    border-bottom: 10px solid #383939;
    overflow: hidden;
    text-align: center;
    &-container {
        max-width: 1024px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
        &__logo {
            letter-spacing: 12px;
            margin-bottom: 5px;
            font-size: 1.125em;
            animation: fadeInDown .5s linear forwards;
            animation-delay: .2s;
            span {
                position: relative;
                transition: all .3s;
                color: #{color(c-white)};
                &:hover {
                    animation: shine 2s infinite;
                    -webkit-mask-image: linear-gradient(-75deg,rgba(0,0,0,.6) 30%,#000 50%,rgba(0,0,0,.6) 70%);
                    -webkit-mask-size: 200%;
                    mask-mode: luminance;               
                }
            }
        }
    }
    &-items {
        margin-top: 20px;
        @include display(flex, center);
        flex-direction: column;
        .footer-animate {
            animation: fadeInDown .5s linear forwards;
            &:nth-child(1) {
                animation-delay: .2s;
            }
            &:nth-child(2) {
                animation-delay: .4s;
            }
            &:nth-child(3) {
                animation-delay: .6s;
            }
            &:nth-child(4) {
                animation-delay: .8s;
            }
        }
        .adaptis-footer-item {
            display: inline-block;
            letter-spacing: .25em;
            padding-top: 5px;
            color: #{color(c-white)};
            font-size: .75rem;
            &:hover {
                color: #9F579E;
            }
        }
    }
    &-clocks {
        @include display(flex, center);
        flex: 1;
        position: relative;
        width: 100%;
        flex-direction: row;
        margin-top: 30px;
        flex-wrap: wrap;
    }
}

.adaptis-footer-clock {
    padding: 2%;
    width: 50%;
    margin: 0;
    overflow: hidden;
    @include min-sm {
        width: 21%;
    }
    &__clock {
        display: none;
        @include min-sm {
            display: block;
        }
    }
    &__text {
        margin-top: 30px;
        &--location {
            letter-spacing: 8px;
            padding-bottom: 10px;
            @include adaptisVer2FooterClockText;
            color: #{color(c-white)};
        }
        &--phone {
            @include adaptisVer2FooterClockText;
        }
        &--email {
            @include adaptisVer2FooterClockText;
        }
    }
}

@keyframes fadeInDown {
    0% {opacity: 0; @include translate3D(0, -100%, 0)};
    100% {opacity: 1; @include translate3D(0, 0, 0)};
}

@keyframes shine {
    0% {-webkit-mask-position: 150%};
    100% {-webkit-mask-position: -50%;}
}