.result-header {
    position: relative;
    top: 20px;
    width: 100%;
    @include flexbox();
    &__logo {
        position: absolute;
        left: 20px;
        top: 10px;
        width: 7%;
        img {
            width: 100%;
        }
    }
    &__input-search {
        position: absolute;
        left: 12%;
        @include flexbox();
        &__input {
            border-radius: 30px;
            border: 1px solid #ccc;
            padding: 13px 230px;
            &:hover {
                border-color:#ccc;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(163, 153, 153, 0.075),0 0 10px rgba(194, 200, 206, 0.6);
                box-shadow: inset 0 1px 1px rgba(163, 153, 153, 0.075),0 0 10px rgba(194, 200, 206, 0.6);
            }
        }
        &__keyword {
            position: absolute;
            top: 13px;
            right: 590px;
        }
        &__keyboard {
            position: absolute;
            width: 23px;
            top: 13px;
            right: 162px;
        }
        &__voice {
            position: absolute;
            width: 15px;
            top: 13px;
            right: 120px;
        }
        &__button-search {
            position: absolute;
            top: 14px;
            right: 18px;
            background: transparent;
            font: 16px arial,sans-serif;
            color: #1A73E8;
            border: none;
            cursor: pointer;
            &:hover {
                padding: 5px 15px;
                font: 16px arial,sans-serif;
                top: 9px;
                right: 14px;
                border-radius: 24px;
                background: lightblue;
            }
        }
    }
    &__app {
        position: absolute;
        top: 10px;
        right: 30px;
        @include flexbox();
        &__icon-app {
            position: absolute;
            right: 27px;
            top: 7px;
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
        &__icon-acc {
            border-radius: 50%;
            width:33px;
        }
    }
}