.result-header
    .result-header__logo
        img(src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png")
    .result-header__input-search
        input.result-header__input-search__input(type="text")
        span.result-header__input-search__keyword test
        img.result-header__input-search__keyboard(src="http://icons.iconarchive.com/icons/google/noto-emoji-objects/1024/62829-keyboard-icon.png")
        img.result-header__input-search__voice(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png")
        button.result-header__input-search__button-search(type="submit") Tìm Kiếm 
    .result-header__app
        img.result-header__app__icon-app(src="https://cdn.iconscout.com/icon/free/png-256/th-11-457421.png")
        img.result-header__app__icon-acc(src="https://i.pinimg.com/originals/07/bb/60/07bb60b843b6d0d5dd3d4acd66b8845d.jpg")