.col-12
    p.form_checkout__title.text-center Express checkout
    div.border.text-center.p-3
        img.w-25(src="https://www.stickpng.com/assets/images/5895ceb8cba9841eabab6072.png", alt="alt")
    p.text-center|or
.col-12
    .row
        .col-12.col-md-6
            h4 Contact information
        .col-12.col-md-6
            span.account Already have an account?
                a(href="") Login
        .col-12.pt-3.pb-3
            form(action="" method="method" id="emailCheckout")
                .form-group
                    input.form-control#email(type="email", placeholder="Email or mobile phone number" required)
        .col-12
            .form-check
                input.form-check-input(type="checkbox", name="") 
                |Keep me up to date on news and exclusive offers
    .col-12.p-0.pt-5
        h4 Shipping address
        form(action="" method="method")#formCheckout
            .row
                .col-12.col-sm-6
                    .form-group
                        input.form-control#u_email(type="text", placeholder="Email or mobile phone number" required)
                        span#u_email-erro
                .col-12.col-sm-6
                    .form-group
                        input.form-control#u_fname(type="text", placeholder="First name (optional)" required)
                        span#u_fname-erro
                .col-12
                    .form-group
                        input.form-control#u_lname(type="text", placeholder="Last name" required)
                        span#u_lname-erro
                .col-12
                    .form-group
                        input.form-control#u_address(type="text", placeholder="Address" required)
                        span#u_address-erro
                .col-12
                    .form-group
                        input.form-control#u_ap(type="text", placeholder="Apartment, suite, ect. (optional)" required)
                        span#u_ap-erro
                .col-12.col-sm-6
                    .form-group
                        select.form-control(type="text", placeholder="City")
                            option(value="") Viet Nam
                            option(value="") Viet Nam
                .col-12.col-sm-6
                    .form-group
                        input.form-control#u_code(type="text", placeholder="Postal code" required)
                        span#u_code-erro
                .col-12
                    .form-check
                        input.form-check-input(type="checkbox", name="") 
                        |Save this information for next time
                .col-12.text-right.pt-4.pb-4.col-12.text-right.pt-4
                    button.btn#checkoutBtn(type='button') Continue to shipping