section.airbnb-host__content-feedback
    .content-feedback__container
        .content-feedback__img-frame
            .content-feedback__img
        .content-feedback__info
            p.content-feedback__quotation “
            p.content-feedback__para Hosting has helped me pay for a new kitchen and other upgrades.”
            p.content-feedback__customer Tessa hosts in London to earn extra money
            .airbnb-host-btn.content-feedback__btn Learn how they host


