.develop{
    &__title{
        &__primary{
            text-align: right;
        }
        &__main{
            font-size: 2.25em;
            line-height: 1.25em;
            margin-bottom: 20px;
            text-align: right;
        }
    }
}