div.develop.container-fluid
    div.develop__title
        div.develop__title__primary
            span We develop
        div.develop__title__main
            span mission critical 
            span applications
    div.develop__intro
        div.develop__intro__hightlight
            span#span1 Delivering resuilts
            span#span2 Delivering solution
        div.develop__intro__desc
            p At Adaptis, we take challenges head-on. We are a collective of problem solvers and creative thinkers, web engineers and analysts. If you need a digital agency that has the experience in delivering critical web platforms for your business, then let’s talk.
        div.develop__intro__link
            a(href="#") LET'S TALK 
            
        
