.footer-modal
    +modalFooter('languageModal', 'Select your language', ['Bahasa indonesia', 'Bahasa Melayu', 'Dansk', 'French', 'Italia','Polski', '中文 (繁體)','日本語', '한국어','Vietnamese','Malaysia','USA','Türkçe','עברית'])
    +modalFooter('moneyMdal','Select a currency',['Thai Baht- ฿','Costa Rican Colon- ₡','Danish Kro- kr','US Dollar - $','Hong Kong dollar - $','Euro - €','Singapore Dollar - $','Croatian kuna - kn','South African Rand - R','Uruguayan Peso - $ U','South Korean Won - ₩','Mexican Peso - $','Danish Kro- kr','US Dollar - $','Hong Kong dollar - $','Euro - €','Singapore Dollar - $'])
//- .footer-modal
//-     .footer-modal__content
//-         .footer-modal__content__title
//-             h1 Select your language
//-         .footer-modal__content__language-list
//-             ul.language-list
//-                 li English
//-                 li VietNam
//-                 li English
//-                 li VietNam
//-                 li English
//-                 li VietNam
//-                 li English
//-                 li VietNam
//-                 li English
//-                 li VietNam
//-                 li English
//-                 li VietNam
//-                 li English
               




