div.develop
    div.develop__item-content(class='skrollable skrollable-after skrollable-between' data-bottom-center='transform: translateX(200px); opacity: 0' data-center-center='transform: translateX(0); opacity: 1')
        div.item-title
            span We develop 
            span mission critical applications
        div.item-context 
            div.item-highlight 
                span Delivering results
                span Delivering solution 
            div.item-desc At Adaptis, we take challenges head-on. We are a collective of problem solvers and creative thinkers, web engineers and analysts. If you need a digital agency that has the experience in delivering critical web platforms for your business, then let’s talk.
            a.link LET'S TALK 

