section.kem-home-explore
    +heading("kem-home-explore__heading","kem-home-explore__heading__title","EXPLORE OUR WORLD","kem-home-explore__heading__desc","","Over 70 hotels")
    .kem-home-explore__slider-double
        .kem-home-explore__slider-double__pager
        .kem-home-explore__slider-double__primary
        