@import '../shared/shared.scss';

@mixin font($font-size) {
    font-family: $main-font;
    color: #fff;
    font-size: $font-size;
}

@mixin button-properties {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 5px;
}

@mixin button {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    button {
        cursor: pointer;
        opacity: 0;
        transition: all .3s ease-in-out;
        position: relative;
        background: 0 0;
        border: 1px solid #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-indent: -9999px;
    }
    .left-button::before {
        @include button-properties();
        transform: translate(-40%, -50%) rotate(135deg);
    }
    .right-button::before {
        @include button-properties();
        transform: translate(-60%, -50%) rotate(-45deg);
    }
}

.adaptis-slide {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        z-index: 2;
        border-left: 0 solid transparent;
        border-right: 100vw solid transparent;
        border-top: 150px solid #fcfcfc;
    }
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 800px;
    .adaptis-slide__stories {
        position: absolute;
        // position: relative;
        width: 100%;
        height: 800px;
        background-size: cover;
        background-position: center;
        transition: 1s;
        transform: translate(0);
        opacity: 1;
        .adaptis-caption {
            position: absolute;
            bottom: 0;
            left: 30px;
            width: 50%;
            background: rgba(0,0,0,.75);
            padding: 30px 40px 30px;
            transition: opacity .5s ease-in-out .25s,transform .5s ease-in-out .25s,-webkit-transform .5s ease-in-out .25s;
            &__title {
                @include font(1rem);
            }
            &__subject {
                @include font(1.375rem);
                margin-bottom: 10px;
            }
            &__description {
                @include font(.875rem);
                line-height: 1.25rem;
                margin-bottom: 30px;
            }
            &__link {
                a {
                    @include right-arrow(#fff);
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        transition: all .5s ease-in-out;
                        opacity: 1;
                        transform: translate(-105%, 0);
                        border-right: 1px solid #fff;
                        background-color: rgba(255, 255, 255, 0.25);
                    }
                    &:hover::after {
                        opacity: 0;
                        transform: translate(0, 0);
                    }
                }
            }
            @media screen and (max-width: $medium) {
                width: 90%;
            }
        }
    }
    &:hover {
        .adaptis-slide-button {
            button {
                opacity: 1;
            }
        }
    }
}

.adaptis-slide-button {
    @include button;
}