.footer#footer.wow.fadeInUp(data-wow-delay="0.5s", data-wow-duration="2s")
    .container
        .row
            - const list = [
            - {title: "help", link: ["About us","Terms","Contact us"]},
            - {title: "information", link: ["privacy policy","shipping info","returns and refunds"]}
            - ]
            .col-12.col-md-6
                .row
                    each item in list
                        .col-6.box-list
                            h3.box-list__title=item.title
                            each link in item.link
                                a(href="")=link
            .col-12.col-md-6.pb-4.footer__form
                .row.wow.fadeInUp(data-wow-delay="0.5s", data-wow-duration="2s")
                    .col-12
                        h3.footer__title
                            |SIGN UP FOR EMAIL AND GET ALL THE BEST DEALS
                    .col-8.col-sm-8.col-md-8.col-lg-8
                        input(type="text" placeholder="enter your email address")
                    .col-5.col-sm-4.col-md-5.col-lg-4
                        button(type='button') subscribe
            .col-12.pt-4.border-top.footer__checkout.wow.fadeInUp(data-wow-delay="0.5s", data-wow-duration="2s")
                p © Ice Snow Lips. All Rights Reserved.
                - const logos = [
                - {img:"https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-visa.png?129"},
                - {img:"https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-american-express.png?129"},
                - {img:"https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-mastercard.png?129"},
                - {img:"https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-discover.png?129"},
                - ]
                each logo in logos
                    a(href="")
                        img(src=logo.img, alt="alt")