.footer#footer
    .footer__info
        .box-list
            h3.box-list__title help
            a(href="") About us
            a(href="") Terms
            a(href="") Contact us
        .box-list
            h3.box-list__title information
            a(href="") privacy policy
            a(href="") shipping info
            a(href="") returns and refunds
        .box-list__content
            h3.box-list__title
                |SIGN UP FOR EMAIL AND GET ALL THE BEST DEALS
            .box-list__sub
                input(type="text" placeholder="enter your email address")
                button(type='submit') subscribe
    .footer__checkout
        p © Ice Snow Lips. All Rights Reserved.
        a(href="")
            img(src="https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-visa.png?129", alt="alt")
        a(href="")
            img(src="https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-american-express.png?129", alt="alt")
        a(href="")
            img(src="https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-mastercard.png?129", alt="alt")
        a(href="")
            img(src="https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/icon-cc-discover.png?129", alt="alt")