.main#main.wow
    .main__content
.main#main
    .container-fluid.p-0
        include ./banner/banner.pug
    .container.wow.fadeInUp(data-wow-delay="0.5s")
        include ./collection/collection.pug
    .container
        include ./trending/trending.pug
    .container
        include ./hotsale/hotsale.pug
    .container-fluid.p-0
        include ./banner-bottom/banner-bottom
    