.kem-home-gallery {
    // text-align: center;
    padding-bottom: 50px;
    &__heading {
        text-align: center;
        &__desc {
            padding-bottom: 30px; 
        }
    }
    &__slider {
        padding: 35px 0;
        margin: 0 auto;
        @include flexbox();
        &__item {
            display: flex !important;
            justify-content: center;
            margin: 0 10px;
            padding: 0 10px;
            text-align: center;
            .slider-gallery-img {
                position: relative;
                width: 192px;
                height: 192px;
                max-width: 200px;
                @include min-sm {
                    max-width: 100%;
                }
                .gallery-username {
                    position: absolute;
                    z-index: 2;
                    display: none;
                    left: 0;
                    width: 100%;
                    // max-width: 100%;
                    padding: 0 10px;
                    overflow: hidden;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 192px;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #fff;
                    background-color: rgba(0, 0, 0, .3);
                }
                &:hover {
                    .gallery-username {
                        display: inline-block;
                    }
                }
            }
           
        }
    }
    &__button {
        text-align: center;
        padding: 18px 0 10px;
        @include min-sm {
            @include flexbox();
            justify-content: center;
        }
        &__see-all, &__upload {
            margin: 4px;
        }
    }
    .slick-prev { 
        left: 74px;
        @include min-sm {
            left: -25px;
        }
    }

    .slick-next {
        right: 70px;
        @include min-sm {
            right: -40px;
        }
    }

    // .slick-prev:focus,
    // .slick-prev:hover {

    // }

    // .slick-next:focus,
    // .slick-next:hover {
    // }
    .slick-prev::before {
        content: '\f053';
    }

    .slick-next::before {
        content: '\f054';
    }
    .slick-prev::before,
    .slick-next::before {
        font-size: 50px;
        opacity: 0.5;
        font-family: $font-fontawesome;
        color: #000;
    }

    .slick-arrow {
        position: absolute;
        display: inline-block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;
    }
}

.kem-home-gallery__modal-gallery {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    z-index: 10;
    &__item {
        display: none;
        background-color: #fff;
        transform: translate(30%, 2%);
        width: 60% !important;
        padding: 25px;
        position: relative;
        .modal-gallery__closed {
            font-size: 20px;
            position: absolute;
            top: 5px;
            right: 3px;
            z-index: 100;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            color: #010f2a;
            &::after {
                content: 'X';
            }
        }
        .modal-gallery__images {
            @include min-md {
                padding: 0 20px;
            }
            padding: 0 20px 20px;
        }
        .modal-gallery__content {
            @include min-md {
                vertical-align: middle;
                position: relative;
            }
            &__author {
                .author-info {
                    transition: color .1s ease;
                    text-transform: uppercase;
                    text-decoration: none;
                    overflow: hidden;
                    font-family: 'HelveticaNeueLTStdBd', Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #010f2a;
                }
                .author-caption {
                    position: relative;
                    height: 52px;
                    padding: 0 20px 0 0;
                    margin: 30px 0;
                    overflow-x: hidden;
                    overflow-y: auto;
                    clear: both;
                    font-family: 'HelveticaNeueLTStdRoman', Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    line-height: 17px;
                    word-wrap: break-word;
                    word-break: break-word;
                    color: #010f2a;
                }
            }
            &__product {
                margin: 40px 0;
                .product-name {
                    font-family: Arial Black, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    text-align: left;
                    text-decoration: underline;
                    text-transform: uppercase;
                    color: #010f2a;
                }
                .product-related {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    line-height: 150%;
                    text-transform: uppercase;
                    word-wrap: break-word;
                    word-break: break-word;
                    color: #010f2a;
                }
            }
            &__sharing {
                @include min-md {
                    position: absolute;
                    bottom: 0px;
                }
                .sharing-title {
                    margin-bottom: 10px;
                    font-size: 11px;
                    text-decoration: underline;
                    text-transform: uppercase;
                    color: #010f2a;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .sharing-with {
                    @include flexbox();
                    justify-content: space-between;
                    &__social {
                        &__fb, &__pin {
                            display: inline-block;
                            width: 27px;
                            height: 27px;
                            line-height: 27px;
                            transition: color .1s ease;
                            text-align: center;
                            color: #010f2a;
                            cursor: pointer;
                            &::before {
                                display: block;
                                height: 27px;
                                content: '';
                            }
                        }
                        &__fb {
                            margin-right: 6px;
                            &::before {
                                background: url(//olapic-data.s3.amazonaws.com/kempinskimaster/assets/img/KI_SocialMedia_RGB_Facebook_StellarBlue.png);
                                background-size: cover;
                            }
                        }
                        &__pin {
                            &::before {
                                background: url(//olapic-data.s3.amazonaws.com/kempinskimaster/assets/img/KI_SocialMedia_RGB_Pinterest_StellarBlue.png);
                                background-size: cover;
                            }
                        }
                    }
                    &__copyright {
                        padding-left: 50px;
                        a {
                            font-family: 'TiemposText', Arial, sans-serif;
                            font-size: 10px;
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}