.heading-primary
    h1.heading-primary__main Earn money as an Airbnb host
    p.heading-primary__sub Find out what you could earn
    form(action="" method="method").form
        .form__element
            input(type="text", placeholder="Hanoi")
        .form__element
            .form__col-6
                select(name="", type="text", placeholder="")
                    option(value="") Entire place
                    option(value="") Private room
                    option(value="") Share room
            .form__col-6
                select(name="", type="text", placeholder="")
                    option(value="") 1 guest
                    option(value="") 1 guest
                    option(value="") 1 guest
                    option(value="") 1 guest
                    option(value="") 1 guest
                    option(value="") 1 guest
                    option(value="") 1 guest
                    option(value="") 1 guest
        .form__element
            span $589
            p Monthly potential
            svg(viewBox="0 0 24 24" role="img" aria-label="Learn more" focusable="false" style="height:11px;width:11px;display:block;fill:#484848")
                path(d="m12 0c-6.63 0-12 5.37-12 12s5.37 12 12 12 12-5.37 12-12-5.37-12-12-12zm0 23c-6.07 0-11-4.92-11-11s4.93-11 11-11 11 4.93 11 11-4.93 11-11 11zm4.75-14c0 1.8-.82 2.93-2.35 3.89-.23.14-1 .59-1.14.67-.4.25-.51.38-.51.44v2a .75.75 0 0 1 -1.5 0v-2c0-.74.42-1.22 1.22-1.72.17-.11.94-.55 1.14-.67 1.13-.71 1.64-1.41 1.64-2.61a3.25 3.25 0 0 0 -6.5 0 .75.75 0 0 1 -1.5 0 4.75 4.75 0 0 1 9.5 0zm-3.75 10a1 1 0 1 1 -2 0 1 1 0 0 1 2 0z" fill-rule="evenodd")

        .form__element
            button.btn(type='submit') Get started