.heading-primary-mobile {
  display: none;
}
.heading-primary {
  display: block;
  &__main {
    padding: 0;
    margin: 0;
    font-size: 3.2em;
  }
  &__sub {
    padding: 0;
    margin: 8px 0;
    font-size: 1.8em;
  }
}
.form {
  display: block;
  width: 100%;
  margin-top: 25px;
  &__element {
    width: 100%;
    display: block;
    margin: 0 0 15px;
    label {
      width: 100%;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      margin: 0 0 8px;
    }
    input {
      width: 100%;
      padding: 11px;
      border: 1px solid rgb(220, 220, 220);
      border-radius: 3px;
      line-height: 1.7em;
      &::placeholder {
        font-size: 1.7em;
      }
    }
    select {
      width: 100%;
      padding: 11px;
      border: 1px solid rgb(220, 220, 220);
      border-radius: 3px;
      line-height: 1.7em;
      font-size: 1.7em;
    }
  }
  &__col-6 {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
}

.btn {
  padding: 10px 22px;
  background-color: $color-red;
  border: 1px solid $color-red;
  border-radius: 3px;
  margin: 15px 0 0 0;
  color: $color-white;
  font-size: 1.5em;
  font-weight: bold;
}

.btn {
  width: 100%;
}

@include Responsive(SM) {
  .heading-primary-mobile {
      width: 100%;
      padding: 0 24px 15px;
      display: block;
    &__main {
      padding: 0;
      margin: 0;
      font-size: 2.4em;
      color: $color-white;
    }
    &__sub {
      display: none;
    }
  }
  .heading-primary {
    display: none;
    width: 100%;
    &__main {
      display: none;
    }
    &__sub {
      display: none;
    }
  }
  .form {
    display: block;
    width: 100%;
    margin: 0;
    &__element {
      width: 100%;
      display: block;
      margin: 0 0 15px;
      label {
        width: 100%;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin: 0 0 8px;
      }
      input {
        width: 100%;
        padding: 11px;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 3px;
        line-height: 1.7em;
        &::placeholder {
          font-size: 1.7em;
        }
      }
      select {
        width: 100%;
        padding: 11px;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 3px;
        line-height: 1.7em;
        font-size: 1.7em;
      }
    }
    &__col-6 {
      float: left;
      width: 50%;
      box-sizing: border-box;
    }
  }
}
