.heading-primary
    h1.heading-primary__main Find out what you could earn
form(action="" method="method").form
    h1.heading-primary__title Earn money as an Airbnb host
    h1.heading-primary__main Find out what you could earn
    .form__element
        input(type="text", placeholder="Thanh Chuong")
    .form__element.col-md-6
        select(name="", type="text", placeholder="")
            option(value="") Entire place
            option(value="") Private room
            option(value="") Shared room
    .form__element.col-md-6
        select(name="", type="text", placeholder="")
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
            option(value="") 1 guests
    .form__element
        br
        h1.heading-primary__price $649 
            span per month
    .form__element
        button.btn(type='submit') Get started