.heading
form(action="" method="method").form
    h1.heading__title Earn money as an Airbnb host
    h1.heading__main Find out what you could earn
    .form__element
        input(type="text", placeholder="HaNoi")
    .form__element.col-md-6
        select(name="", type="text", placeholder="")#room
            option(value="100") Entire place
            option(value="150") Private room
            option(value="200") Shared room
    .form__element.col-md-6
        select(name="", type="text", placeholder="")#guests
            - const people = 16;
            - for(let i = 1; i<= people; i++){
            option(value=i)=i + " guests"
            - }
    .form__element
        br
        h1.heading-primary__price#heading-primary__price $706 
            span per month
    .form__element
        button.btn(type='submit') To start