div.google-search-footer
    div.google-search-footer__location
        div.google-search-footer__location--contry
            p Việt Nam
            p 
                strong Mỹ Đình, Nam Từ Liêm, Hà Nội
                | - Dựa trên hoạt động trước đây của bạn - Sử dụng vị trí chính xác - Tìm hiểu thêm
        div.google-search-footer__location--rule
            - var list = ['Trợ giúp', 'Gửi phản hổi', 'Bảo mật', 'Điều khoản']
            +list('',...list)