div.google-header
    div.google-header__content
        p Gmail
        p Hình ảnh
        p
            i.glyphicon.glyphicon-th
        img(src="https://avatars2.githubusercontent.com/u/30647000?s=460&v=4", alt="alt")