nav.header-nav
    ul.header-nav__list
        li.header-nav__item 
            a.header-nav__link(href="#") Gmail
        li.nav__item 
            a.header-nav__link(href="#") Hình ảnh
        li.header-nav__item
            .header-nav__link
              img.nav__th-icon(src="../assets/images/th-icon.png", alt="")
        li.header-nav__item
            .header-nav__link
              img.nav__ava(src="../assets/images/ava.jpg", alt="")