.header-nav{
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    padding: 4rem 4rem;
    margin-bottom: 6rem;
  
    .header-nav__list{
      display: flex;
      position: absolute;
      right: 2rem;
      align-items: center;
  
      .header-nav__item{
        padding: 0rem 1rem;
        cursor: pointer;
        // width: 10%;
      
        .header-nav__link{
  
          &:hover{
            text-decoration: underline;
          }
  
          .nav__th-icon{
            width: 3rem;
          }
      
          .nav__ava{
            width: 5rem;
            overflow: hidden;
            border-radius: 30px;
          }
        }
      }
    }
  }