
div.header-google
    div.form-logo(role="search")
        img.img-logo-google(src="https://www.google.com.vn/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png")
    div.form-search
        img.img-voice(src="../../../../assets/images/img-google-resuilt/icon-mic.PNG" )
        button.btn(type="submit" value="test") Search
        input(type="text" value="Test")
    div.form-gmail
        img(src="../../../../assets/images/img-google-resuilt/icon-gmail-header.PNG")
    div.header-content
        div.header-content__div-all
            img(src="../../../../assets/images/img-google-resuilt/icon-search.PNG")
            a.a-all(href="#") All 
        div.header-content__div-images            
            img(src="../../../../assets/images/img-google-resuilt/icon-image.png") 
            a.a-images(href="#") Images        
        div.header-content__div-news
            img(src="../../../../assets/images/img-google-resuilt/icon-news.png")
            a.a-news(href="#") News
        div.header-content__div-videos
            img(src="../../../../assets/images/img-google-resuilt/icon-video.png")
            a.a-videos(href="#") Videos
        div.header-content__div-more
            img(src="../../../../assets/images/img-google-resuilt/icon-more.png")
            a.a-more(href="#") More
        div.header-content__div-settings
            a.a-setting(href="#") Settings
        div.header-content__div-button
            button(type="submit" value="tool") Tools
        

        


              