block content
    div.google-header
        div.google-header-origin__link
            div
                a(href="#") Gmail
            div.google-header-images__link
                a(href="#") Hình ảnh
        div
            div.google-header-other-apps
                a(href="#")
                    img(src='../../assets/images/th-solid.svg')
            div.google-header-login__link
                div
                    a(href="#") Đăng nhập