.adaptisVer2Slide {
    @include scale(90%, 800px);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    &::before {
        content: '';
        @include absolute(absolute, 0, initial, initial, 0);
        @include scale(0, 0);
        z-index: 2;
        border-left: 0 solid transparent;
        border-right: 100vw solid transparent;
        border-top: 150px solid #fcfcfc;
    }
    &:hover {
        .slick-arrow {
            opacity: 1;
        }
        .slick-disabled {
            opacity: 0;
        }
        // .adaptisVer2Slide-button {
        //     opacity: 1;
        // }
    }
}

.adaptisVer2Slide-button {
    @include absolute(absolute, 50%, initial, initial, initial);
    @include translate2D(0, -50%);
    @include display(flex, space-between);
    @include transition(all, .3s, ease-in-out);
    padding: 0 20px;
    z-index: 10;
    width: 100%;
    opacity: 0;
    &:hover {
        outline: 0;
    }
    &__left {
        @extend %adaptisVer2SlideButtons;
        &::before {
            @extend %adaptisVer2SlideButtonsBefore;
            transform: translate(-40%,-50%) rotate(135deg);
        }
    }
    &__right {
        @extend %adaptisVer2SlideButtons;
        &::before {
            @extend %adaptisVer2SlideButtonsBefore;
            transform: translate(-60%,-50%) rotate(-45deg);
        }
    }
}

.adaptisVer2Slide-slides {
    height: 100%;
    &-mySlides {
        transition-duration: 0.3s;
        height: 100%;
        &-section {
            transition: all 0s;
            white-space: nowrap;
            font-size: 0px;
            @include scale(100%, 100%);
            // width: 100%;
            transition-duration: 0.3s;
            // @include translate3D(-33.3333%, 0px, 0px);
        }
    }
}

.adaptisVer2Slide-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    max-height: 800px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: 16px;
    width: calc(33.3333%);
    &::before {
        content: '';
        @include absolute(absolute, 0, initial, initial, 0);
        @include scale(100%, 100%);
        z-index: 2;
        background: linear-gradient(135deg,#000 0,#050505 2%,rgba(97,97,97,0) 38%,rgba(255,255,255,0) 100%);
    }
    .adaptisVer2Slide__caption {
        @include absolute(absolute, initial, initial, 0, 30px);
        @include paddings(30px, 40px, 30px, 40px);
        @include translate2D(-100px, 0px);
        @extend %adaptisVer2SlideTransitionCaption;
        opacity: 0;
        @include max-sm {
            width: 95.5%;
        }
        @include min-sm {
            width: 550px;
        }
        // @include max-xl {
        //     width: 550px;
        // }
        color: #{color(c-white)};
        width: 50%;
        z-index: 3;
        .adaptisVer2Slide__title {
            @include adaptisVer2SlideTransition(opacity, transform, 0.4s, ease-in-out, 0.75s);
            @include translate2D(0, 15px);
            opacity: 0;
            font-size: 1em;
        }
        .adaptisVer2Slide__subject {
            @include adaptisVer2SlideTransition(opacity, transform, .4s, ease-in-out, .8s);
            margin-bottom: 10px;
            font-size: 1.375em;
            @include translate2D(0, 15px);
            opacity: 0;
        }
        .adaptisVer2Slide__desc {
            @include adaptisVer2SlideTransition(opacity, transform, .4s, ease-in-out, 1s);
            @include translate2D(0, 15px);
            opacity: 0;
            margin-bottom: 30px;
            line-height: 1.25em;
            font-size: .875em;         
        }
        .adaptisVer2Slide__link {
            @include adaptisVer2SlideTransition(all, transform, .4s, ease-in-out, 1.2s);
            @include translate2D(0, 15px);
            opacity: 0;
            a {
                @include adaptisVer2Link(#{color(c-white)});
                @include adaptisVer2LinkBefore(#{color(c-white)});
                @include adaptisVer2LinkAfter;
            }
        }
    }
}

.slick-slider {
    position: relative;
    .slick-list {
        .slick-track {
            .slick-slide {
                height: 100vh;
            }
        }
    }
    .slick-prev {
        @extend %adaptisVer2SlideButtons;
        &::before {
            @extend %adaptisVer2SlideButtonsBefore;
            transform: translate(-40%,-50%) rotate(135deg);
        }
    }
    .slick-next {
        @extend %adaptisVer2SlideButtons;
        left: initial;
        right: 20px;
        &::before {
            @extend %adaptisVer2SlideButtonsBefore;
            transform: translate(-60%,-50%) rotate(-45deg);
        }
    }
    // .slick-disabled {
    //     opacity: 0;
    // }
}

.slick-active {
    div {
        .adaptisVer2Slide-item {
            .adaptisVer2Slide__caption {
                opacity: 1;
                @include translate2D(0, 0);
                .adaptisVer2Slide__title, .adaptisVer2Slide__subject, .adaptisVer2Slide__desc, .adaptisVer2Slide__link{
                    opacity: 1;
                    @include translate2D(0, 0);
                }
            }
        }
    }
}