//responsive
$XS: 320px;
$SM: 767px;
$MD: 1200px;

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media (min-width: 0) and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media (min-width: $XS +1px) and (max-width: $SM){
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $SM + 1px){
            @content;
        }
    }
}