.google-main
    .google-main__banner
        img.google-main__banner__image(src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png")
    .google-main__input-search
        img.google-main__input-search__keyboard(src="http://icons.iconarchive.com/icons/google/noto-emoji-objects/1024/62829-keyboard-icon.png")
        img.google-main__input-search__voice(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png")
        input(type="text")
    .google-main__button-search
        button Tìm với Google
        button Xem trang đầu tiên tìm được
    .google-main__language
        p Google có các thứ tiếng: 
            span
                a(href="#") English 
            span
                a(href="#") Français 
            span
                a(href="#") 中文（繁體）