div.google-main
	img(src="https://www.google.com.vn/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png", alt="google")
	div.google-main__content
		i.glyphicon.glyphicon-search
		input(type="text" placeholder="")
	div.google-main__btn
		button(type='submit') Tìm với Google
		button(type='submit') Xem trang đầu tiên tìm được
	div.google-main__text
		p Google có các thứ tiếng: 
		a  English 
		a Français 
		a 中文（繁體）