div.toSupport.container-fluid
    div.toSupport__heading.row
        span#title-primary To support 
        span#title-second global companies
    div.toSupport__container.row
        div.grid-item
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-kempinski.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-korn-ferry.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-burberry.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-bidv.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-johnnie-walker.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-sit.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-vicostone.png')
            div.item.animated.data-animate
                a(href="#")
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-burger-king.png')
            div.item.animated.data-animate
                a(href='#')
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-ibm.png')
            div.item.animated.data-animate
                a(href='#')
                    img.img(src='../../../assets/images/adaptis/adaptis-case-study-adib.png')
            