.toSupport{
    margin-top: 120px;
    &__heading{
        display: flex;
        flex-direction: column;
        #title-primary{
            color: #A4A4A4;
            font-size: 1.2em;
            line-height: 1em;
        }
        #title-second{
            font-size: 30px;
            color: #393939;
        }
    }
    &__container{
       color: #393939;
       font-family: runda,sans-serif;
       font-weight: 300;
       font-size: 1rem;
       line-height: 1.6rem;
       display: block;
       box-sizing: border-box;
       -webkit-font-smoothing: antialiased;
       width: 100%;
       background: #f5f5f5;
       .grid-item{
           display: flex;
           flex-wrap: wrap;
           max-width: 850px;
           margin: 0 auto;
           .item.animated{
               animation:fadeInUp .5s ease-in-out forwards;
               width: 25%;
               position: relative;
               @media (min-width: 768px){
                   width: 20%;
               }
               @media (min-width: 768px){
                .item::before{
                    height: 60px;
                }
                .item::after{
                    bottom: 0;
                    left: 50%;
                    transform: (-50%,0);
                    height: 1px;
                }
            }
           }
           .animated:nth-child(1n){
               animation-delay: .2s!important;
           }
           .animated:nth-child(2n) {
               animation-delay:  .4s!important;
           }
           .animated:nth-child(3n) {
               animation-delay: .6s!important;
           }
           .animated:nth-child(4n) {
               animation-delay: .8s!important;
           }
           .animated:nth-child(5n) {
               animation-delay: 1s!important;
           }
           .animated:nth-child(6n) {
               animation-delay: 1.2s!important;
           }
           .animated:nth-child(7n) {
               animation-delay: 1.4s!important;
           }
           .animated:nth-child(8n) {
               animation-delay: 1.6s!important;
           }
           .animated:nth-child(9n) {
               animation-delay: 1.8s!important;
           }
           .animated:nth-child(10n) {
               animation-delay: 2s!important;
           }
           [data-animate] {
               opacity: 0;
           }
           .item:hover{
               img{
                   filter: grayscale(0);
                   opacity: 1;
               }
           }
           
       }
       a{
           display: inline-block;
           font-size: .75rem;
           line-height: 2;
           letter-spacing: 1px;
           text-decoration: none;
           color: #fff;
           transition: all .25s ease;
           .img{
                width: 100%;
                filter: grayscale(1);
                opacity: .8;
                transition: all .4s ease-in-out;
           }
           .img:focus{
               outline:-webkit-focus-ring-color auto 1px;
           }
       }
       .item::after{
           bottom: 0;
           left: 50%;
           transform: translate(-50%,0);
           width: 50%;
           height: 1px;
       }
       .item::after, .item::before {
           content: '';
           position: absolute;
           background: #d5d5d5;
       }
       .item::before{
           z-index: 1;
           top: 50%;
           transform: translate(0, -50%);
           display: inline-block;
           width: 1px;
           height: 50%;
       }
       .item:focus{
           outline:-webkit-focus-ring-color auto 1px;
       }
       @keyframes fadeInUp {
           0% {
               opacity: 0;
               -webkit-transform: translate3d(0,40px,0);
               transform: translate3d(0,40px,0);
           }
           100% {
               opacity: 1;
               -webkit-transform: translate3d(0,0,0);
               transform: translate3d(0,0,0);
           }
       }


    }
}