section.banner-earn 
    .banner-earn__background
        .banner-earn__heading
            .banner-earn__heading__title
                h1 Ready to earn?
        button.btn-earn(type='submit') 
            span Get started