.airbnb-content
    include ./content-review/content-review.pug
    include ./content-feature/content-feature.pug
    include ./content-booked/content-booked.pug
    include ./content-date/content-date.pug



    