div.boxRelative
    div.boxRelative__block
        - const relativeItem1 ={img:'../../../../assets/images/adaptis-credentials.jpg', title:'2018 Digital Credentials ', desc:'Register now to download our credentials in PDF format. The selected projects will provide a range of our experience in delivering global solutions.', link:'SEND TO ME'};
        - const relativeItem2 ={img:'../../../../assets/images/adaptis-careers-bg.jpg', title:'Careers', desc:'Collaborate with other passionate peple, like yourself, who enthusiastically seek out new challenges and continous learning to create bigger, better and bolder experiences.', link:'APPLY NOW'};
        - const relativeItem3 ={img:'../../../../assets/images/adaptis-contact-us.png', title:'Contact Us', desc:'Collaborate with other passionate peple, like yourself, who enthusiastically seek out new challenges and continous learning to create bigger, better and bolder experiences.', link:'APPLY NOW'};
        
        +boxRelativeItem(relativeItem1)
        +boxRelativeItem(relativeItem2)
        +boxRelativeItem(relativeItem3)     



