.collection
    .collection__title-box
        h2 Collections by Ice Snow Lips
    .collection__content-box.wow.bounceInUp
            - const box_content = [
            -   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/banner-home-bottom-1.jpg?129",title:"OUR LIPSTICKS",span: "Shop now", icon:["fas", "fa-caret-right"]},
            -   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/banner-home-bottom-2.jpg?129",title:"OUR MAKEUP TOOLS",span: "Shop now", icon:["fas", "fa-caret-right"]},
            -   {img:"//cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/banner-home-bottom-3.jpg?129",title:"OTHER COSMETICS",span: "Shop now", icon:["fas", "fa-caret-right"]} ]
            each val in box_content
                .collection__content-box-small
                    img(src=val.img, alt="")
                    p=val.title
                    .collection__content-button
                        span=val.span
                        i(class=val.icon)