@import '../header/header.scss';

.airbnbUpdate-introduce {
    margin: 0 15px;
}

.airbnbUpdate-step {
    margin: 15px;
}

.airbnbUpdate-hosting__line {
    margin: 15px;
    width: 64px;
    border: 1px solid rgb(118, 118, 118);
}

.airbnbUpdate-step {
    &__step {
        position: relative;
        width: 48px;
        height: 48px;
        background-color: #008489;
        border-radius: 50%;
        p {
            position: absolute;
            top: 12px;
            left: 19px;
            color: #fff;
            font-weight: bold;
        }
    }
}