extends ../layouts/master.pug

block title
  title Adaptis

block content
    include ../components/adaptis/mixin/mixin.pug
    include ../components/adaptis/header/header.pug
    include ../components/adaptis/description/description.pug
    include ../components/adaptis/develop/develop.pug
    include ../components/adaptis/slide/slide.pug
    include ../components/adaptis/successStory/successStory.pug
    include ../components/adaptis/weAre/weAre.pug
    include ../components/adaptis/viewTheWork/viewTheWork.pug
    include ../components/adaptis/providing/providing.pug
    include ../components/adaptis/toSupport/toSupport.pug
    include ../components/adaptis/boxRelative/boxRelative.pug

