block content
    include ../mixins/mixinsAdaptisVer2.pug
    include ../components/adaptisVer2/adaptisVer2Header/adaptisVer2Header.pug
    include ../components/adaptisVer2/adaptisVer2Title/adaptisVer2Title.pug
    include ../components/adaptisVer2/adaptisVer2Slide/adaptisVer2Slide.pug
    include ../components/adaptisVer2/adaptisVer2Introduction/adaptisVer2Introduction.pug
    include ../components/adaptisVer2/adaptisVer2HighLightBlock/adaptisVer2HighLightBlock.pug
    include ../components/adaptisVer2/adaptisVer2SolutionBlock/adaptisVer2SolutionBlock.pug
    include ../components/adaptisVer2/adaptisVer2Clients/adaptisVer2Clients.pug
    include ../components/adaptisVer2/adaptisVer2RelativeBlock/adaptisVer2RelativeBlock.pug
    include ../components/adaptisVer2/adaptisVer2Footer/adaptisVer2Footer.pug