extends ../layouts/master.pug

block title
  title Adaptis

block content
    include ../components/adaptis/mixin/mixin.pug
    include ../components/adaptis/header/header.pug
    include ../components/adaptis/description/description.pug
<<<<<<< HEAD
    include ../components/adaptis/develop/develop.pug
=======
    include ../components/adaptis/slide/slide.pug
    include ../components/adaptis/develop/develop.pug
    include ../components/adaptis/successStory/successStory.pug
>>>>>>> 31e8aea8a9bf754234e26cb3fd9761ba77d76bdb
    include ../components/adaptis/weAre/weAre.pug
    include ../components/adaptis/viewTheWork/viewTheWork.pug
    include ../components/adaptis/providing/providing.pug
    include ../components/adaptis/toSupport/toSupport.pug
    include ../components/adaptis/boxRelative/boxRelative.pug
    //- include ../components/adaptis/footer/footer.pug

