block content
    include ../mixins/mixinsAdaptisVer2.pug
    include ../components/adaptisVer2/adaptisVer2Header/adaptisVer2Header.pug
    include ../components/adaptisVer2/adaptisVer2Contact/adaptisVer2Contact.pug
    include ../components/adaptisVer2/adaptisVer2RelativeBlock/adaptisVer2RelativeBlock.pug
    include ../components/adaptisVer2/adaptisVer2Footer/adaptisVer2Footer.pug