extends ../layouts/master.pug

block title
  title Adaptis

block content
    include ../components/adaptis/header/header.pug
    include ../components/adaptis/description/description.pug
    include ../components/adaptis/develop/develop.pug
