block content
    include ../mixins/mixins-airbnbUpdate.pug
    include ../components/airbnbUpdate/header/header.pug
    include ../components/airbnbUpdate/form/form.pug
    include ../components/airbnbUpdate/introduce/introduce.pug
    include ../components/airbnbUpdate/quote/quote.pug
    include ../components/airbnbUpdate/question/question.pug
    include ../components/airbnbUpdate/more/more.pug
    include ../components/airbnbUpdate/readyToEarn/ready.pug
    include ../components/airbnbUpdate/footer/footer.pug