block content
    include ../mixins/mixins-airbnbUpdate.pug
    include ../components/airbnbUpdate/header/header.pug
    include ../components/airbnbUpdate/form/form.pug
    include ../components/airbnbUpdate/introduce/introduce.pug