extends ../layouts/master.pug

block title
  title Rent out your house, apartment or room on Airbnb

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords', content='home, page')
  meta(name='author' content='')

block content
  include ../components/airbnb2/header/header.pug
  include ../components/airbnb2/about/about.pug
  include ../components/airbnb2/hosting/hosting.pug
  include ../components/airbnb2/learn-host/learn-host.pug
  include ../components/airbnb2/question/question.pug
  include ../components/airbnb2/about-hosting/about-hosting.pug
  include ../components/airbnb2/banner-earn/banner-earn.pug
  include ../components/airbnb2/footer/footer.pug