block content
    include ../mixins/mixins-airbnb.pug
    include ../components/airbnb/banner/banner.pug
    include ../components/airbnb/body/body.pug
    include ../components/airbnb/footer/footer.pug