block title
    title MyPage - google

block content
    include ../components/google/header/header.pug
    include ../components/google/section/section.pug
    include ../components/google/footer/footer.pug