extends ../layouts/master.pug

block title
  title My Page - Index

block content
  include ../components/google/header/google-head.pug
  include ../components/google/main/google-main.pug
  include ../components/google/footer/google-footer.pug
