//- extends ../layouts/master.pug

block title
  title My Page -  Google

block content
  include ../components/google/header/header.pug
  include ../components/google/content/content.pug
  include ../components/google/footer/footer.pug



