

block title
    title MyPage - google

block content
    div.google-header
        div
            a(href='#') Gmail
        div
            a(href='#') Hình ảnh
        div
            a(href='#') 
                img.google-app(src='../../assets/images/th-solid.svg')
        div.sign-in-button
            a(href='#') Đăng nhập
    div.google-section
        div.google-brand
            img(src='../../assets/images/googlelogo_color_272x92dp.png')
        div.input
            div
                input(type='text')
            div
                a(href='#')
                    img.key-board(src='../../assets/images/keyboard-solid.svg')
    div.google-section-1
        div
            center
                button Tìm với Google
                button Xem trang đầu tiên tìm được
    div.google-section-2
        div 
            p Google có các thứ tiếng:&emsp;
                span
                    a(href='#') English
                    a(href='#') Français
                    a(href='#') 中文（繁體）
    div.footer-1
        div
            p Việt Nam
    div.footer-2
        div
            div.right
                a(href='#') Quảng cáo
                a(href='#') Doanh nghiệp
                a(href='#') Giới thiệu
                a(href='#') Cách hoạt động của tìm kiếm
            div.left
                a(href='#') Bảo mật
                a(href='#') Điều khoản
                a(href='#') Cài đặt