extends ../layouts/master.pug

block link
    link(rel='shortcut icon', href=require('images/kem/kem-favicon/favicon.ico'))

block title
    title Our Destinations | Kempinski Hotels

block content
    include ../components/banner/banner.pug
    include ../components/nav/nav.pug
    include ../components/kem-homepage/kem-search/kem-search.pug
    include ../components/kem-destination/kem-destination-head/kem-destination-head.pug
    include ../components/kem-destination/kem-destination-place/kem-destination-place.pug
    


block scripts
    script(src="https://kit.fontawesome.com/a076d05399.js")


