block content
    include ../mixins/list.pug
    include ../components/searchResultGoogle/header/header.pug
    include ../components/searchResultGoogle/body/body.pug
    include ../components/searchResultGoogle/footer/footer.pug