block content
    include ../mixins/mixinsSFP.pug
    include ../components/sfp/sfpMenuBar/sfpMenuBar.pug
    include ../components/sfp/sfpHeader/sfpHeader.pug
    include ../components/sfp/sfpNowadays/sfpNowadays.pug
    include ../components/sfp/sfpSolution/sfpSolution.pug
    include ../components/sfp/sfpBlog/sfpBlog.pug
    include ../components/sfp/sfpYour/sfpYour.pug
    include ../components/sfp/sfpAbout/sfpAbout.pug
    include ../components/sfp/sfpFooter/sfpFooter.pug
