
block title
  title My Page - Index

block content
    .google-header
      a.google-header__title(href="#" id="text-gmail") Gmail
      a.header-google__title(href="#" id="text-hinh-anh") Hình ảnh
      img.header-google__img(src="../../assets/images/icon-google.png")
      img.header-google__img(src="../../assets/images/icon-gmail.PNG")
    .content-google
      img#content-google__img(src="../../assets/images/logo-google.PNG")
      input#content-google__input(type="text" align="center")
      
      br
      input.content-google__input(type="submit" value="Tìm với Google" id="tim-voi-google")
      input.content-google__input(type="submit" value="Xem trang đầu tiên tìm được")
      br
      br
      span#content-google__span Google có các thứ tiếng:
      a.content-google__a(href="#") English
      a.content-google__a(href="#") Franci
      a.content-google__a(href="#") Vietnamese
      br
      br
      br
      br
      br
    div.footer-google
      span Việt Nam
      .footer-last
        a.ft-last(href="#") Quảng cáo
        a.ft-last(href="#") Doanh nghiệp
        a.ft-last(href="#") Giới thiệu
        a.ft-last(href="#") Cách hoạt động của Tìm kiếm
        a.ft-last(href="#" id="bao-mat") Bảo mật
        a.ft-last(href="#" id="dieu-khoan") Điều khoản
        a.ft-last(href="#" id="cai-dat") Cài đặt

    