.banner-bottom
    .banner-bottom__content
        .banner-bottom__title
            .banner-bottom__title-box
                h2 OUR LOVE
                hr
                p “I don't mind being burdened with being glamorous and sexual. Beauty and femininity are ageless and can't be contrived, and glamour, although the manufacturers won't like this, cannot be manufactured. Not real glamour; it's based on femininity.” ― Marilyn Monroe
        .banner-bottom__title-button
            span Shop the Collection
            i.fas.fa-caret-right
.banner-bottom__title-button#banner-bottom__title-button
            span Shop the Collection
            i.fas.fa-caret-right
            