.banner-bottom{
    display: block;
    width: 100%;
    background-image: url(//cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/banner.jpg?129);
    background-size: cover;
    background-position: center;
    height: 290px;
    &__content{
        display: none;
    }
    &__title-button{
        text-align: center;
        display: block;
        width: 250px;
        border:2px solid $color-border-dark;
        background: $color-background-dark;
        span{
            color: $color-white;
            font-size: 16px;
            line-height: 34px;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        i{
            color: $color-white;
            font-size: 15px;
            padding-left: 15px;
        }
    }
}
@include Responsive (MD){
    .banner-bottom{
        height: 520px;
        &__content{
            display: block;
            position: absolute;
            width: 39%;
            right: 30px;
            margin-top: 15%;
        } 
        &__title-box{
            display: block;
            h2{
                font-size: 40px;
                font-weight: 700;
                padding: 0 0 9px;
                line-height: 1.25em;
                color: $color-white;
                margin: 0 auto;
                text-align: center;
            }
            hr{
                display: block;
                margin: 10px auto;
                border: 1px solid $color-white;
                width: 50px;
            }
            p{
                font-size: 16px;
                color: #FFF7F7;
                text-align: center;
            }
        }
        &__title-button{
            text-align: center;
            display: block;
            width: 250px;
            border:2px solid $color-border-dark;
            background: $color-background-dark;
            margin-left: 14%;
            span{
                color: $color-white;
                font-size: 16px;
                line-height: 34px;
                font-weight: 700;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
            i{
                color: $color-white;
                font-size: 15px;
                padding-left: 15px;
            }
        }
        
    }
    #banner-bottom__title-button{
        display: none;
    }
}
@include Responsive(XL){
    .banner-bottom{
        height: 1000px;
        &__content{
            display: block;
            position: absolute;
            width: 35%;
            right: 0;
            margin-top: 30%;
            margin-right: 7%;
            
        } 
        &__title-box{
            display: block;
            top: 0;
            h2{
                font-size: 40px;
                font-weight: 700;
                padding: 0 0 9px;
                line-height: 1.25em;
                color: $color-white;
                margin: 0 auto;
                text-align: center;
            }
            hr{
                display: block;
                margin: 10px auto;
                border: 1px solid $color-white;
                width: 50px;
            }
            p{
                font-size: 16px;
                color: #FFF7F7;
                text-align: center;
            }
        }
        &__title-button{
            margin-top: 40px;
            margin-left: 20%;
            width: 290px;
        }
    }
    #banner-bottom__title-button{
        display: none;
    }
}



#banner-bottom__title-button{
    text-align: center;
    display: block;
    margin: 200px auto;
    margin-bottom: 20px;
    @include Responsive (MD){
        display: none;
    }
    @include Responsive (XL){
        display: none;
    }
}