section.air-learn-host
    .container-fluid
        .air-learn-host__content
            .air-learn-host__content__img
                img(src="https://a0.muscache.com/pictures/2b6774ff-f366-4c1a-b941-198b92e87ffd.jpg")
            .air-learn-host__content__about
                div.quoste “
                h3.title Hosting has helped me pay for a new kitchen and other upgrades.”
                p.description Tessa hosts London to earn extra money
                button.btn-host(type='submit') Learn how they host