.container-fluid.nav-mobile
  .row
    .col-4.nav-mobile__box-icon#nav-canvasBtn
      span.fas.fa-bars
    .col-4.nav-mobile__box-icon#nav-userBtn
      span.fas.fa-user
    .col-4.nav-mobile__box-icon#nav-cartBtn
      span.fas.fa-shopping-cart
      include ./header-box-cart/cart-content.pug
include ./header-box-user/user-content.pug