.nav-mobile {
  text-align: center;
  color: $color-white;
  &__box-icon {
    background-color: $color-dark;
    &:not(:last-child) {
      border-right: 1px solid $color-white;
    }
    span {
      width: 100%;
      padding: 15px;
      font-size: 16px;
    }
  }
  @include Responsive(MD) {
    display: none;
  }
  @include Responsive(XL) {
    display: none;
  }
}
