header.kem-header
    .toggle-block
        label(for="headerCheckbox")
            span.toggle-block__toggle
                i(class="fas fa-bars")
    .kem-header__logo-frame
        img.kem-header__logo-frame__logo(src="../../../../assets/images/kem/kem-header/logo.svg", alt="kem-logo")
    +heading("kem-heading-header", "kem-heading-header__title", "KEMPINSKI HOTELS", "kem-heading-header__desc-frame", "kem-heading-header__desc-frame__desc", "A Constellation of Havens")

    .kem-header__function
        a.kem-header__function__title(href="#") 
            span.header-link-title
                |kempinski hotel
            span.icon-down-title
                i(class="fas fa-angle-down")
        ul.kem-header__function__list
            .kem-header__function__item
                .kem-header__function__link
                    span.header-link-text
                        |english
                    span.icon-down
                        i(class="fas fa-angle-down")
            .kem-header__function__item
                .kem-header__function__link
                    span.icon-user    
                        i(class="far fa-user")
                    span.header-link-text
                        |login

input(type="checkbox" id="headerCheckbox")
span.header-nav-toggle.header-bar-icon
    i(class="fas fa-bars")
span.header-nav-toggle.header-close-icon
    i(class="fas fa-times")


