.airbnb-host{
    &__content-hosting{
        padding: 0 2.4rem;

        @include Responsive(Tablet){
            margin: 0 3.6rem;
        }

        @include Responsive(Laptop){
            margin: 0 16.4rem;
        }

        @include Responsive(LaptopDefault){
            margin: 0 14.3rem;
        }

        @include Responsive(LaptopL){
            margin: 0 18rem;
        }

        @include Responsive(LaptopHd){
            margin: 0 42rem;
        }

        @include Responsive(Screen4k){
            margin: 0 74rem;
        }
    }
}

.content-hosting{

    &__line{
        width: 6.4rem;
        height: 0.2rem;
        background-color: $primary-color;
        margin: 7rem 0 3rem 0;

        @include Responsive(Tablet){
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__big-title{
        @include text($font-family-general, 40px, 700, $second-color);
        line-height: 4rem;

        @include Responsive(Tablet){
            text-align: center;
            line-height: 6.4rem;
        }

        @include Responsive(LaptopDefault){
            font-size: 60px;
        }
    }

    &__container{
        display: flex;
        flex-wrap: wrap;

        @include Responsive(LaptopDefault){
            justify-content: space-between;
        }
    }
    
    &__block{
        margin-top: 4.8rem;
        width: 100%;

        @include Responsive(Tablet){
            margin-left: 5.6rem;
            margin-right: 5.6rem;
        }

        @include Responsive(LaptopDefault){
            margin-left: 0;
            margin-right: 0;
            width: 29%;
            padding: 0 0.8rem
        }
    }

    &__step{
        width: 4.8rem;
        height: 4.8rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 1.5rem;
    }

    &__title{
        @include content-title();
        line-height: 3.2rem;
        margin-bottom: 2rem;
    }

    &__para{
        @include content-para();
    }

    &__link-frame{
        margin-top: 1.6rem;
    }

    &__link{
        @include content-para();
        color: $fouth-color;
    }
}