div.footer
    div.footer__infor
        div.footer__title
            div.title-primary
                a ADAPTIS
            div.title-second
                a THE WORK
                a THE AGENCY
                a CAREERS
                a CONTACT US
                

                