.banner
    .banner__content
        img.banner__logo(src="https://cdn.shopify.com/s/files/1/0098/9705/0209/t/2/assets/logo.png?129", alt="alt")
        .banner__list
            ul
                li
                    span.fas.fa-heart
                    a(href="") my wishlist
                li.shopping-cart
                    .shopping-cart__icon
                        span.fas.fa-shopping-cart
                        span#productCount 0
                    a(href="") Shopping cart
                    .box-shoppingCart
                        #box-shoppingCart
                        .box-checkout
                            .row.justify-content-between
                                .col-3
                                    h3  Total
                                .col-3
                                    h3  $4.80
                            .row.justify-content-center
                                button.btn(type='button')
                                    a(href="/checkout") Checkout
                                a(href="#", title="title") or view cart
                li
                    a(href="") sign in
                    span or
                    a(href="") create an account
    .banner__search
        input(type="text" placeholder="search")
        span.fas.fa-search