.banner {
  &__logo {
    width: 130px;
  }
  &__search {
    display: flex;
    margin-top: 20px;
    border: 1px solid $color-text-gray;
    input {
      width: 100%;
      padding: 13px;
      font-size: 16px;
      font-weight: 500;
      border: none;
    }
    span {
      position: relative;
      right: 0px;
      font-size: 15px;
      padding: 15px;
      cursor: pointer;
    }
  }
  &__list {
    display: none;
  }
  @include min-md {
    padding-top: 30px;
    &__logo {
      display: flex;
    }
    &__search {
      width: 200px;
      position: absolute;
      top: 0;
      right: 30px;
      border: none;
      border-bottom: 1px solid $color-text-gray;
      input {
        font-size: 13px;
        padding: 5px;
      }
      span {
        position: relative;
        right: 0px;
        font-size: 15px;
        padding: 5px;
        cursor: pointer;
      }
    }
    &__list {
      display: block;
      a {
        color: $color-text;
        font-size: 16px;
        text-transform: capitalize;
      }
      span {
        padding: 5px;
        font-size: 15px;
      }
    }
    .shopping-cart {
      &:hover > .box-shoppingCart {
        display: block;
      }
    }
    .box-shoppingCart {
      display: none;
      position: absolute;
      right: 0;
      width: 350px;
      border: 1px solid $color-text-gray;
      padding: 10px;
      background: $color-white;
      img {
        width: 100%;
      }
      p {
        width: 100%;
        font-size: 15px;
        text-align: left;
      }
      span {
        width: 100%;
      }
      a {
        color: #fff;
      }
    }
    .box-checkout-md {
      z-index: 1;
      padding: 15px 0;
      text-transform: uppercase;
      border-top: 1px solid $color-border-dark;
      button {
        width: 100%;
        margin: 5px 15px;
        padding: 10px 15px;
        background-color: $color-dark;
        border: 1px solid #000;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-white;
        a{
          color: #fff;
          text-decoration: none;
        }
        &:hover {
          background-color: $color-background-nav;
          color: $color-white;
        }
      }
      a {
        margin-top: 5px;
        color: $color-text;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-weight: bold;
        text-decoration: underline;
      }
      h3 {
        font-weight: bold;
        font-size: 16px;
        color: $color-text;
      }
    }
    .box-cart-md {
      [class^="col-"] {
        padding: 0;
        margin: 0;
      }
      display: block;
      max-height: 200px;
      overflow: auto;
      img {
        width: 100%;
        padding: 5px;
      }
      span {
        color: black;
        cursor: pointer;
        padding: 0;
      }
      p {
        color: black;
        cursor: pointer;
        font-size: 15px;
        text-align: left;
        span {
          font-weight: bold;
        }
      }
    }
  }
  @include min-xl {
    &__content {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
    &__logo {
      width: 130px;
      height: 130px;
    }
    &__search {
      width: 200px;
      position: absolute;
      top: 0;
      right: 190px;
      border: none;
      border-bottom: 1px solid $color-text-gray;
      input {
        font-size: 13px;
        padding: 5px;
      }
      span {
        position: relative;
        right: 0px;
        font-size: 15px;
        padding: 5px;
        cursor: pointer;
      }
    }
    &__list {
      display: block;
      text-align: center !important;
    }
    .shopping-cart {
      &:hover > .box-shoppingCart {
        display: block;
      }
    }
    .box-shoppingCart {
      display: none;
      position: absolute;
      right: 0;
      width: 350px;
      border: 1px solid $color-text-gray;
      background: $color-white;
    }
    .box-checkout-md {
      z-index: 1;
      padding: 15px 0;
      text-transform: uppercase;
      border-top: 1px solid $color-border-dark;
      button {
        width: 100%;
        padding: 10px 15px;
        background-color: $color-dark;
        border: 1px solid #000;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-white;
        a{
          color: #fff;
          text-decoration: none;
        }
        &:hover {
          background-color: $color-background-nav;
          color: $color-white;
        }
      }
      a {
        margin-top: 5px;
        color: $color-text;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-weight: bold;
        text-decoration: underline;
      }
      h3 {
        font-weight: bold;
        font-size: 16px;
        color: $color-text;
      }
    }
    .box-cart-md {
      [class^="col-"] {
        padding: 0;
        margin: 0;
      }
      display: block;
      max-height: 200px;
      overflow: auto;
      img {
        width: 100%;
        padding: 5px;
      }
      span {
        color: black;
        cursor: pointer;
        padding: 0;
      }
      p {
        color: black;
        cursor: pointer;
        font-size: 15px;
        text-align: left;
        span {
          font-weight: bold;
        }
      }
    }
    .box-checkout-md {
      z-index: 1;
      padding: 15px 0;
      text-transform: uppercase;
      border-top: 1px solid $color-border-dark;
      button {
        width: 100%;
        margin: 5px 15px;
        padding: 10px 15px;
        background-color: $color-dark;
        border: 1px solid #000;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-white;
        a{
          color: #fff;
          text-decoration: none;
        }
        &:hover {
          background-color: $color-background-nav;
          color: $color-white;
        }
      }
      a {
        margin-top: 5px;
        color: $color-text;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-weight: bold;
        text-decoration: underline;
      }
      h3 {
        font-weight: bold;
        font-size: 16px;
        color: $color-text;
      }
    }
    .box-cart-md {
      [class^="col-"] {
        padding: 0;
        margin: 0;
      }
      display: block;
      max-height: 200px;
      overflow: auto;
      img {
        width: 100%;
        padding: 5px;
      }
      span {
        color: black;
        cursor: pointer;
        padding: 0;
      }
      p {
        color: black;
        cursor: pointer;
        font-size: 15px;
        text-align: left;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
