section.kem-homepage-banner
    .kem-homepage-banner__img-frame
        .kem-homepage-banner__img-frame__img-banner.banner__big-left
        .kem-homepage-banner__img-frame__img-banner.banner__big-right
            - var smallBannerArr = [
            - {imgBannerSmall: "banner-small-1.jpg", textHover: "our destinations", idBanner:"#mapbox"},
            - {imgBannerSmall: "banner-small-2.jpg", textHover: "experiences", idBanner:"#experience"},
            - ]
            +banner(smallBannerArr)
            p.kem-homepage-banner__text HOW MAY WE ASSIST YOU ?
            - var smallBanneArr = [
            - {imgBannerSmall: "banner-small-3.jpg", textHover: "offers", idBanner:"#offer"},
            - {imgBannerSmall: "banner-small-4.jpg", textHover: "our hotels", idBanner:"#explore"},
            - ]
            +banner(smallBanneArr)
