.airbnb-content{

    &__feature-container{
        padding: 3rem 3rem 0;

        @include Responsive(Tablet){
            padding: 6rem 3rem 0;
        }

        @include Responsive(LaptopDefault){
            margin: 0 17.875rem;
        }

        @include Responsive(LaptopL){
            margin: 0 22.5rem;
        }

        @include Responsive(LaptopXL){
            margin: 0 92.5rem;
        }
    }
}

.feature-container{

    &__feature-slider{
        margin-top: 2rem;
        padding-top: 3rem;
        border-top: 1px solid rgb(236, 236, 236);
        display: flex;
    }

    &__feature-block{
        width: 69.6%;
        padding: 0 0.75rem;

        @include Responsive(Tablet){
            width: 33.33333%;
            padding: 0 1rem;
        }
    }
}

.feature-block{

    &__icon-feature{
        margin: 0 0 2rem;
    }

    &__info{
        margin: 0 4rem 0 0;
    }

    &__name{
        @include SearchForm($fontFamily1, 16px, $colorSearch, 700);
        margin: 0 0 1rem 0;
    }

    &__description{
        @include SearchForm($fontFamily1, 14px, $colorSearch, 400);

    }


}