.form-checkout.border-bottom
    .product(style="overflow: auto; max-height: 300px;")
    .row.form-checkout__button.border-bottom.border-top
        div.border-bottom.border-top
        .col-10
            input.form-control(type="text" placeholder="Discount code")
        .col-2.pl-0
            button(type='submit')
                span.fas.fa-arrow-right
    .row
        .col-3
            p Subtotal
        .col-9.text-right
            p.totalPrice $2.27
        .col-3
            p Shipping
        .col-9.text-right
            p Calculated at next step
    .row.border-top.pt-5
        .col-3
            h5 Total
        .col-9.text-right
            h5 USD 
                span.totalPrice $2.27
                