.form-checkout {
  padding: 15px;
  background-color:  $color-background-checkout;
  img {
    width: 100%;
    border-radius: 10px;
  }
  p {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
  }
  &__button {
    padding: 20px 0;
    input {
      width: 100%;
      border-radius: 3px;
      padding: 22px 10px;
      font-size: 15px;
      font-family: "Roboto";
    }
    button {
      width: 100%;
      padding: 14px;
      border: 1px solid $color-text-gray;
      border-radius: 3px;
      span {
        font-size: 15px;
        color: $color-white;
      }
    }
  }
  @include min-lg{
    margin-top: 100px;
  }
}
.box-checkout-content{
  background-color: $color-background-checkout;
}