.form-checkout
    .form-checkout__pro
        .form-checkout__product
            .row
                .col-2
                    img(src="https://cdn.shopify.com/s/files/1/0098/9705/0209/products/product-image-986041657_small.jpg?v=1560167019", alt="")
                .col-8
                    p Lorem, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .col-2
                    p
                        span $2.0 x 2
        .form-checkout__button
            .box-btn
                input(type="text" placeholder="Discount code")
                button(type='submit')
                    span.fas.fa-arrow-right 
        .form-checkout__price
            .row.justify-content-between
                .col-3
                    p  Total
                .col-3
                    p  $4.80
            .row.justify-content-between
                .col-4
                    p  Total
                .col-4
                    p  $4.80
        .form-checkout__totalPrice
            .row.justify-content-between
                .col-3
                    h3  Total
                .col-3
                    h3  $4.80
    .form-checkout__info
        