.result-footer
    .result-footer__top 
        span Việt Nam
        .result-footer__top__location
            b Mỹ Đình,Hà Nội
            span - Từ địa chỉ Internet của bạn - Sử dụng vị trí chính xác - Tìm hiểu thêm
    .result-footer__bottom
        ul
            li
                a(href="#") Trợ giúp
            li 
                a(href="#") Gửi phản hồi
            li 
                a(href="#") Bảo mật 
            li
                a(href="#") Điều khoản