section.kem-home-offers
    .container-fluid
        .kem-home-offers__heading.kem-bgd-primary
            h2.kem-home-offers__heading__title.kem-title LUXURY HOTEL OFFERS
            .kem-home-offers__heading__desc
                span.kem-desc.kem-desc__separate  Exciting Packages