.nav-user__content
    .box-modal
        ul
            li
                a(href="") sign in
                span or
                a(href="") create an account
            li
                a(href="") my account
            li
                a(href="") my wishlist