.kem-destination-head {
    &__breadcrumb {
        padding: 6px 15px;
        background-image: url('https://www.kempinski.com/images/home/bg-breadcrumb.jpg');
        border-bottom: 0.1px solid rgb(236, 227, 227);
        .breadcrumb {
            @include flexbox();
            align-items: center;
            &__icon {
                width: 15px;
                height: 15px;
                display: inline-block;
                vertical-align: middle;
                background-image: url(https://www.kempinski.com/images/icon/breadcrumb.png);
                background-position: center center;
                background-repeat: no-repeat;
                -ms-background-size: cover;
                background-size: cover;
            }

            &__home {
                padding-left: 5px;
                a {
                    font-size: 10px;
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 0.5px;
                    color: #B5A191;
                    text-decoration: none;
                    position: relative;
                    display: inline-block;
                    font-weight: normal;
                    visibility: visible;
                    animation-duration: 0.7s;
                    animation-delay: 0.05s;
                    cursor: pointer;
                }
            }
            &__destination {
                padding-left: 5px;
                span {
                    font-size: 10px;
                    color: #010F2A;
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 0.5px;
                    text-decoration: none;
                    display: inline-block;
                    font-weight: normal;
                }
            }
        }
    }

    &__heading {
        width: 100%;
        text-align: center;
        padding: 30px 0 50px;
    }
}