section.kem-destination-head
    .kem-destination-head__breadcrumb
        .container-fluid 
            ol.breadcrumb
                li.breadcrumb__icon
                li.breadcrumb__home
                    a  / HOME /
                li.breadcrumb__destination
                    span OUR DESTINATIONS AROUND THE WORLD ...
    +heading(["kem-destination-head__heading","kem-bgd-primary"],"kem-destination-head__heading__title","OUR DESTINATIONS AROUND THE WORLD","kem-destination-head__heading__desc","","Travelling in Style since 1897")