div.providing
    div.providing__container
        div.providing__container__title
            p#providing Providing 
            div.providing__container__title__header
                span digital 
                span solutions
        div.providing__container__desc
            section 
                p Helping companies to become more digitally connected is one of our specialities. From design thinking to machine learning, we start with a holistic approach that combines core values with the value of technology solutions. 
                p The result, clients have a much deeper grasp on their company's purpose and are better prepared to maintain consistency in the connected age.
