section.a-solution-block 
    div.a-solution-block__decor(class="skrollable skrollable-before")
    div.container
        div.a-solution-block__content
            div.a-solution-block__title.a-section-title
                span Providing
                br
                span digital solutions
            div.a-solution-block__desc
                p Helping companies to become more digitally connected is one of our specialities. From design thinking to machine learning, we start with a holistic approach that combines core values with the value of technology solutions.
                p The result, clients have a much deeper grasp on their company’s purpose and are better prepared to maintain consistency in the connected age.
        ul.a-solution-block__items
            li.item.animated(data-animate ="")
                span.item-content User Experience
                br
                span.item-content Design 
                div.item-text
                    span.text-icon UX
                    span.text-icon UI
            li.item.animated(data-animate="")
                span.item-content Development 
                br
                span.item-content &amp; Delivery
            li.item.animated(data-animate="")
                span.item-content Agency
                br
                span.item-content Parnership 
