.providing{
    &__container{
        display: flex;
        width: 100%;
        height: 390px;
        &__title{
            float: left;
            width: 40%;
            margin-left:15px;
            p#providing{
                color: #6E6E6E;
                font-size: 1.2em;
                line-height: 1em;
            }
            &__header{
                font-size: 30px;
                display: flex;
                flex-direction: column;
                color: #393939;
            }
        }
        &__desc{
            margin-right: 5px;
            width: 60%;

        }

    }
}