header.kem-header
    span.toggle
        i(class="fas fa-bars")
    .kem-header__logo-frame
        img.kem-header__logo-frame__logo(src="", alt="")
    +heading("kem-heading-header", "kem-heading-header__title", "KEMPINSKI HOTELS", "kem-heading-header__desc-frame", "kem-heading-header__desc-frame__desc", "A Constellation of Havens")