block content
//- mixin search-result-google

-const string = [{}]

    div.search-result-number-google
        p Khoảng 38.500.000 kết quả (0,35 giây)
    div.search-result-google-title
        div.google-result-title
            a(href="#") 
                p Cam | Rapviet Wiki | FANDOM powered by Wikia
        div.google-result-link
            a(href="#") http://rapviet.fandom.com/vi/wiki/Cam
                span
                    img(src="../../assets/images/caret-down-solid.svg")
        div.google-result-content
            p Lê Văn Toàn sinh ngày 4 tháng 6 năm 1992 tại thành phố Hồ Chí Minh, Việt Nam hay còn được biết với nghệ danh 
                span Cam 
                |là một 
                span rapper 
                |thuộc nhóm Harzard ...
    div.search-result-google-title
        div
            a(href="#") 
                p Cam | Rapviet Wiki | FANDOM powered by Wikia
        div.google-result-link
            a(href="#") http://rapviet.fandom.com/vi/wiki/Cam
                span
                    img(src="../../assets/images/caret-down-solid.svg")
        div.google-result-content
            p Lê Văn Toàn sinh ngày 4 tháng 6 năm 1992 tại thành phố Hồ Chí Minh, Việt Nam hay còn được biết với nghệ danh 
                span Cam 
                |là một 
                span rapper 
                |thuộc nhóm Harzard ...
    div.search-result-google-title
        div
            a(href="#") 
                p Cam | Rapviet Wiki | FANDOM powered by Wikia
        div.google-result-link
            a(href="#") http://rapviet.fandom.com/vi/wiki/Cam
                span
                    img(src="../../assets/images/caret-down-solid.svg")
        div.google-result-content
            p Lê Văn Toàn sinh ngày 4 tháng 6 năm 1992 tại thành phố Hồ Chí Minh, Việt Nam hay còn được biết với nghệ danh 
                span Cam 
                |là một 
                span rapper 
                |thuộc nhóm Harzard ...
    div.search-result-google-images
        div
            a(href="#") Hình ảnh cho rapper cam
        div.result-images
            div
                a(href="#")
                    img(src="../../assets/images/images.jpg")
            div
                a(href="#")
                    img(src="../../assets/images/images.jpg")
            div
                a(href="#")
                    img(src="../../assets/images/images.jpg")
            div.more-result-images
                a(href="#")
                    img(src="../../assets/images/arrow-alt-circle-right-regular.svg")

        div.result-other-images
            div
                a(href="#")
                    div
                        div.result-other-images-button
                            img(src="../../assets/images/arrow-right-solid.svg")
                        div.result-other-images-title
                            p Hình ảnh khác cho rapper cam
                a(href="#")
                    div
                        p Báo cáo hình ảnh
    div.related-search
        div.related-search-title
            p Tìm kiếm có liên quan
        div.related-search-title-rapper
            p Rapper Việt Nam
        div.related-search-rapper
            div
                div
                    a(href="#")
                        img(src="../../assets/images/images.jpg")
                div.related-search-rapper-name
                    a(href="#") Cam
            div
                div
                    a(href="#")
                        img(src="../../assets/images/images.jpg")
                div.related-search-rapper-name
                    a(href="#") Cam
            div
                div
                    a(href="#")
                        img(src="../../assets/images/images.jpg")
                div.related-search-rapper-name
                    a(href="#") Cam
    div.related-search-tags
        div.related-search-tags-title
            p Các tìm kiếm liên quan đến rapper cam
        div.related-search-title-result-tags
            div
                div
                    a(href="#")
                        span tiểu sử 
                        |rapper cam
                div
                    a(href="#") rapper cam
                        span việt nam
                div
                    a(href="#") cam 
                        span hazard clique
                div
                    a(href="#")
                        span fb 
                        |rapper cam
            div
                div
                    a(href="#")
                        span pain 
                        |rapper
                div
                    a(href="#") cam rapper
                        span profile
                div
                    a(href="#")
                        span táo 
                        |rapper
                div
                    a(href="#")
                        span lê tăng bá toàn
    div.google-brand-footer 
        div
            img(src="../../assets/images/googler-footer.png")
    div.google-brand-footer-numbers
        div.google-brand-footer-number--active
            a(href="#") 1
        div
            a(href="#") 2
        div
            a(href="#") 3
        div
            a(href="#") 4
        div
            a(href="#") 5
        div
            a(href="#") 6
        div
            a(href="#") 7
        div
            a(href="#") 8
        div
            a(href="#") 9
        div
            a(href="#") 10
    
        
            
