$main-font: runda,sans-serif;
$sub-font: capitolium-2, sans-serif;
$main-font-size: 16px;
$md: 770px;

@mixin breakpoint-md {
    @media screen and (min-width: $md) {
        @content;
    }
    @media screen and (max-width: $md) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
}

