section.add-date
    .container-fluid
        .add-date__title
            p When are you traveling?
        .add-date__description
            p Add dates for updated pricing and availability.
        .add-date__button
            button(type="submit")
                span Add dates