.add-date {
    padding: 35px 0px 30px 0px;
    &__title {
        p {
            font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
            font-size: 18px;
            font-weight: 800;
            line-height: 1.4444444444444444em;
            color: #484848;
            @include min-sm {
                font-size: 24px;
                line-height: 1.25em;
            }
            }
    }
    &__description {
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.375em;
            color: #484848;
        }
    }
    &__button {
        padding: 15px 0px;
        button {
            border-radius: 4px;
            padding: 12px 22px;
            background: #008489;
            color: #ffffff;
            border: none;
            display: inline-block;
            margin: 0px;
            cursor: pointer;
            text-align: center;
            span {
                font-size: 17px;
                line-height: 18px;
                font-weight: 800;
                letter-spacing: normal;
            }
        }
    }
}