.airbnb-content__date-container
    .airbnb-content__title
        |When are you traveling?
    .airbnb-content__description
        |Add dates for updated pricing and availability.
    button.btn-add(type="button") Add dates
