mixin sfpMenuBar
    .sfpMenuBar
        a(href="#").sfpMenuBar-brand
            .sfpMenuBar-brand__logo
                img(src="../../../assets/images/sfp/Logo.png", alt="SFP")
            .sfpMenuBar-brand__name
        .sfpMenuBar-buttons
            a(href="#").sfpMenuBar-buttons__signIn
            a(href="#").sfpMenuBar-buttons__signUp
        .sfpMenuBar-languages
            button.sfpMenuBar-languages__vietnamese
