.d-grid{
    display: grid;
    grid-template-columns: 1fr;
    @include min-sm{
        grid-template-columns: 1fr 1fr;
        .hotsale__button{
            width: 53%;
        }
    }
    @include min-md{
        grid-template-columns: 1fr 1fr 1fr;
        .hotsale__button{
            width: 53%;
        }
    }
    @include min-xl{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .trending__button-selectd{
            width: 209px;
            margin: 20px auto;
            cursor: pointer;
            span{
                color: #bebebe;
                font-size: 16px;
                line-height: 34px;
                font-weight: 700;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-family: 'Montserrat';
                padding: 0px 20px 0px 35px;
                }
            }
        .select{
            border: 2px solid  #bebebe;
            background: $color-white;
            
        }
        .disable{
            border: 2px solid #000;
            span{
                color: #000;    
            }
        }
    }
}
.trending__title-hotsale{   
    display: block;
    border-bottom: 1px dotted #000;
    text-transform: uppercase;
    h2{
        color: $color-border-gray;
        text-align: center;
        margin: -10px auto;
        background: $color-white;
        font-size: 19px;
        max-width: 210px;
        font-weight: bold;
    }
    @include min-md{
        h2{
            font-size: 24px;
        }
    }
    @include min-xl{
        h2{
            font-size: 24px;
        }
    }
}
.hotsale__button{
    display: block;
    width: 70%;
    border:2px solid $color-border-dark;
    background: $color-background-white;
    margin: 0 auto;    
    padding: 6px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    &:hover{
        background-color: $color-background-dark;
        span{
            color: $color-white;
        }
    }
    span{
        color: $color-dark;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        font-family: "Montserrat";
    }
    @include min-md{
        width: 35%;
    }
    @include min-xl{
        width: 35%;
    }
} 

