.kem-home-mapbox {
    padding: 40px 20px;
    .map-box {
        clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 0 80%, 0 0);
    }
    .mapboxgl-map{
        height: 550px;
        background: #E5E3DF;
    }
}