div.description
    div.description__content
        p(style='margin-left: 30px;') Adaptis is an independent digital agency with footprints in Australia, Hong Kong, Singapore,  Switzerland, Thailand and Vietnam. We are curiosity-led, goal-focused and inspired by our desire to tell stories and create brands for a wide range of businesses that matter. We do this by solving problems through strategy, design, technology, and production.
