.airbnb-host__modal-footer(id= "modalFooter")
    +modalFooter("modalLanguage", "closeBtnFooter1" ,"Select your language", ["Pashtun", "Dari", "English", "Uzbek", "Turkmen", "Pashai", "Nuristan", "Baloch", "Pamir", "Albania", "Tamazight", "Catalan", "Guaraní", "Armenia", "Croatia", "Slovenia", "Hungary", "Kashubia", "Litva", "Belarus", "Digan", "Bosnia", "Croatia", "Serbia"])

    +modalFooter("modalMoney", "closeBtnFooter2", "Current Money", ["Abkhazia", "Afghanistan", "Albania", "USD", "Alderney", "Algérie", "Andorra", "Angola", "Anguilla", "Argentina", "Armenia", "Aruba", "Bangladesh", "Bahrain", "Bahamas", "USD", "Australia", "Barbados", "Belarus", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia"])