.banner
    .banner__frame
        .banner__img(style="background-image: url(../../../../assets/images/kem/kem-banner/kem-banner-destination.jpg); height: 270px; background-size: cover; background-repeat: no-repeat; background-position: 0 center;")