mixin adaptis-header
    header.adaptis-header
        .adaptis-header__brand
            a(href="#") ADAPTIS
        .adaptis-header__menubar
            .adaptis-header__menubar-items
                - const menubarItemsArray = ["THE WORK", "THE AGENCY", "CAREERS", "CONTACT US"]
                each n in menubarItemsArray
                    a(href="#" title= n)= n
            .adaptis-header__menubar-hamburger
                - const lineArray = [1, 2, 3, 4, 5]
                each val, index in lineArray
                    i(class=`adaptis-header__menubar-hamburger-${val}`)

block content
+adaptis-header

