<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../style.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(type="text/javascript" src="../script.js")
    body
        div
            h1 JavaScript Practice Exercise
        div.reload-array
            button().reload-array__button Array
        div.options
            div
                button.add__button Add
            div
                button.search__button Search
            div
                button.delete__button Delete
            div
                button.sort__button--ascending Ascending Sort
            div
                button.sort__button--descending Descending Sort
            div
                button.sort-by-odd-even__button Sort by Odd Even
            div
                button.separate Separate
        div.result
        h2