.banner.wow
    .banner__title
        .banner__title-box
            h2 EXPLORE THE MAGIC OF COSMETIC
            hr
            .banner__title-button
                span Shop the Collection
                i.fas.fa-caret-right